<div class="ui-page">
    <div class="portlet light mb-3">
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align: left;">
                        <button type="button" ng-click="backToManagmentPage()" class="btn blue fa fa-reply-all"> Back</button>
                    <strong>Order Inventory For Customer </strong></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light mb-3">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold">Inventory Details </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="row">
                    <form name="PrntFrm">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required">Customer Name</label>
                                <div class="input-group">
                                    <select id="customer-id" name="CustomerID" class="form-control select2" required
                                    ng-model="OrderCustomer.CustomerID" ng-change="onCustomerChange(Ct.CustomerID)"> 
                                        <option value="{{Ct.ID}}" ng-repeat="Ct in CustomerList">{{Ct.CustomerName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required">Order Type </label>
                                <div class="input-group">
                                    <select id="order-type" name="OrderTypeID" class="form-control select2" required
                                    ng-model="OrderCustomer.OrderTypeID" ng-change="onOrderTypeChange(OIT.OrderTypeID)"> 
                                        <option value="{{OIT.ID}}" ng-repeat="OIT in OrderTypeList">{{OIT.OrderType}}</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required">Linen Supplier</label>
                                <div class="input-group">
                                    <select id="inventory-supplier" name="Supplier" class="form-control select2" required
                                    ng-model="OrderCustomer.SupplierID" ng-change="onSupplierChange(OrderCustomer.SupplierID)"> 
                                    <option value="{{Ils.ID}}" ng-repeat="Ils in SupplierList">{{Ils.LinenSupplierName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required">Inventory Move </label>
                                <div class="input-group">
                                    <select id="inventory-move" name="InventoryMoveID" class="form-control select2" required
                                    ng-model="OrderCustomer.InventoryMoveID" ng-change="onInventoryMoveChange(IM.InventoryMoveID)"> 
                                        <option value="{{IM.ID}}" ng-repeat="IM in InventoryMoveList">{{IM.InventoryMove}}</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group" ng-class="{'has-error' : FrmInventor.ManualQty.$invalid && FrmInventor.ManualQty.$touched}">
                                <label class="fld-required">Required Qty</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="ManualQty" ng-keypress="filterValue($event)" ng-model="OrderCustomer.ManualQty" required> 
                                    <p ng-show="OrderFrmInventor.ManualQty.$invalid && FrmInventor.ManualQty.$touched" class="help-block">This field is Required.</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required"> Action </label>
                                <div class="input-group">
                                    <select id="inventory-action" name="ActionID" class="form-control select2" required
                                    ng-model="OrderCustomer.ActionID" ng-change="onInventoryActionChange(I.InventoryActionID)"> 
                                        <option value="{{I.ID}}" ng-repeat="I in InventoryActionList">{{I.InventoryAction}}</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required">Reason </label>
                                <div class="input-group">
                                    <select id="inventory-action" name="ActionID" class="form-control select2" required
                                    ng-model="OrderCustomer.ActionID" ng-change="onActionChange(OrderCustomer.ActionID)"> 
                                        <option value="{{OIR.ID}}" ng-repeat="OIR in InventoryActionList">{{OIR.InventoryAction}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class ="row">
        <form name="CustInventy">
            <div class="col-md-12">
                <div class="portlet light mb-3">
                    <!-- <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject bold">Customer</span>
                        </div>
                    </div> -->
                    <!-- <div class="portlet-title"> -->
                        <div class="form-body">
                            <div class ="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label class="fld-required">Category</label>
                                        <div class="input-group">
                                            <select id="category" name="Category" class="form-control select2" required
                                            ng-model="SubOrderCustomer.CategoryID" ng-change="onCategoryChange(SubOrderCustomer.CategoryID)" > 
                                                <option value="{{Category.ID}}" ng-repeat="Category in CategoryList">{{Category.CategoryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label class="fld-required">Product</label>
                                        <div class="input-group">
                                            <select id="product" name="Product" class="form-control select2" required
                                            ng-model="SubOrderCustomer.ProductID" ng-change="onProductChange(SubOrderCustomer.ProductID)"  > 
                                                <option value="{{Product.ID}}" ng-repeat="Product in ProductList">{{Product.ProductName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label class="fld-required">Variant</label>
                                        <div class="input-group">
                                            <select id="variant" name="Variant" class="form-control select2" required
                                            ng-model="SubOrderCustomer.VariantID" ng-change="onVariantChange(SubOrderCustomer.VariantID)"> 
                                                <option value="{{Variant.VariantID}}" ng-repeat="Variant in VariantList">{{Variant.VariantName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group" ng-class="{'has-error' : FrmInventor.QtyToBeOrdered.$invalid && FrmInventor.QtyToBeOrdered.$touched}">
                                        <label class="fld-required">Qty</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-keypress="filterValue($event)" name="QtyToBeOrdered" ng-model="SubOrderCustomer.QtyToBeOrdered" ng-keyup="Calculate(QtyToBeOrdered)" required>
                                            <p ng-show="OrderFrmInventor.QtyToBeOrdered.$invalid && FrmInventor.QtyToBeOrdered.$touched" class="help-block">This field is Required.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group" ng-class="{'has-error' : FrmInventor.QtyByCustomer.$invalid && FrmInventor.QtyByCustomer.$touched}">
                                        <label class="fld-required">Qty</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-keypress="filterValue($event)" name="QtyByCustomer" ng-model="SubOrderCustomer.QtyByCustomer" ng-keyup="Calculate(QtyToBeOrdered)" required>
                                            <p ng-show="OrderFrmInventor.QtyByCustomer.$invalid && FrmInventor.QtyByCustomer.$touched" class="help-block">This field is Required.</p>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group" ng-class="{'has-error' : FrmInventor.QtyByWarehouse.$invalid && FrmInventor.QtyByWarehouse.$touched}">
                                        <label class="fld-required">Qty by Warehouse</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="QtyByWarehouse" ng-keypress="filterValue($event)" ng-model="SubOrderCustomer.QtyByWarehouse" required>
                                            <p ng-show="OrderFrmInventor.QtyByWarehouse.$invalid && FrmInventor.QtyByWarehouse.$touched" class="help-block">This field is Required.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group" ng-class="{'has-error' : FrmInventor.QtyUsedFromWarehouse.$invalid && FrmInventor.QtyUsedFromWarehouse.$touched}">
                                        <label class="fld-required">Qty that can be used from Warehouse</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-keypress="filterValue($event)" name="QtyUsedFromWarehouse" ng-model="SubOrderCustomer.QtyUsedFromWarehouse" ng-keyup="Calculate(QtyToBeOrdered)" required>
                                            <p ng-show="OrderFrmInventor.QtyUsedFromWarehouse.$invalid && FrmInventor.QtyUsedFromWarehouse.$touched" class="help-block">This field is Required.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="form-group" ng-class="{'has-error' : FrmInventor.QtyToBeOrdered.$invalid && FrmInventor.QtyToBeOrdered.$touched}">
                                        <label class="fld-required">Qty to be Ordered</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="QtyToBeOrdered" ng-keypress="filterValue($event)" ng-model="SubOrderCustomer.QtyToBeOrdered" ng-disabled="disableorder" ng-keyup="Calculate(QtyToBeOrdered)" required>
                                            <p ng-show="OrderFrmInventor.QtyToBeOrdered.$invalid && FrmInventor.QtyToBeOrdered.$touched" class="help-block">This field is Required.</p>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="action-group">
                                            <button type="button" ng-click="update()" ng-show="updateChild" class="btn blue fa fa-refresh"> Update</button>
                                            <button type="button" ng-click="update1($index,Data.ID)" ng-show="updateChild1" class="btn blue fa fa-refresh"> Update</button>
                                            <button type="button" ng-click="addcustData()" ng-show="addChild" class="btn blue fa fa-plus" ng-disabled="CustInventy.$invalid"> Add Data</button>
                                            <button type="button" ng-click="cancelChild()" class="btn blue fa fa-close"> Cancel</button>                                                        
                                        </div>
                                    </div>
                                </div>
                            </div>					
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </form>
    </div>
    <div class="portlet light mb-3">
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="order-inventory-customer-table">
                    <thead>
                        <tr>
                            <th> S.No </th>
                            <th> Category </th>
                            <th> Product </th>
                            <th> Variant </th>
                            <th> Qty </th>
                            <!-- <th> Qty By Warehouse </th>
                            <th> Qty Used From Warehouse </th>
                            <th> Qty To Be Ordered</th> -->
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Data in InventoryData"> 
                            <td >{{$index + 1}}</td>
                            <td >{{Data.CategoryName}}</td>
                            <td >{{Data.ProductName}}</td>
                            <td >{{Data.VariantName}}</td>
                            <td>{{Data.QtyToBeOrdered}}</td>
                            <!-- <td>{{Data.QtyByCustomer}}</td>
                            <td>{{Data.QtyByWarehouse}}</td>
                            <td>{{Data.QtyUsedFromWarehouse}}</td>
                            <td>{{Data.QtyToBeOrdered}}</td> -->
                            <td><i title="Remove" ng-click="removeData($index,Data.ID)" class="delete-icon fa fa-trash font-red-thunderbird"></i>
                                <a><i title="Edit" ng-click="editData($index, Data.ID)" ng-show="custyinv" class="edit-icon fa fa-edit font-green-jungle"></i></a></td> 
                        </tr>
                    </tbody>
                </table>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="action-group">
                            <button type="button" ng-click="saveInventory()" class="btn blue fa fa-send-o" ng-disabled="PrntFrm.$invalid"> Send</button>
                            <button type="button" ng-click="cancelSubInvantory()" class="btn blue fa fa-close"> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
    </div>
</div>
<div class="modal fade in" id="saveinventory"  data-width="450">  
    <div class="modal-header" style="background-color: #299d9d;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
        <h3><span class="modal-title custom-font-color">RNT - Inventory For Customer</span></h3>
    </div>
    <div class="modal-header">
        <p><h4> &nbsp; PO Request Sent Successfully !</h4></p>
        <button class="btn green" style="float: right;" data-dismiss="modal" aria-hidden="false"> Ok</button>
    </div>
</div>