body {
	
	/* background-image: url('../../global/img/bg/bg_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top; 
    background-size: 100% 100%; */
    background-image: none;
}



/* LOGIN PAGE STYLE CHNAGE START 10/10/2017 */
.new-clr {
	color: #017f9e;
}
.new-bgclr {
	background-color: #017f9e;
}
.navbar {
	border-radius: 0; 
	margin-bottom: 0;
}
.navbar-brand {
	padding: 0;
}
.navbar.navbar-default {
	padding: 10px 40px;
	background-color: #eeefef;
	border: 0px;	
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-left: 0;	
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}
.login-fotr {
    clear: both;
    position: fixed;
    float: left;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 30px;
    padding: 0 40px;
    background-color: #748b97;
}
.login-fotr .navbar-nav>li>a {
	color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login-fotr .navbar-nav>li>a:hover {
	color: #000;
}
.img-responsive {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-attachment: fixed;
}
.centered {
	position:absolute;
	top:43%;
	left:50%;
	transform:translate(-50%, -50%);
	font-size:50px;
	color: #fff;
}
.login-page {
	 background-color: #eeefef;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #eeefef;
}
.login-contain {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: #eeefef;
	min-height: 100vh;
	
	/* border: 1px solid #f00; */
}
.login-contain .login-box {
	position: relative;
	width: 550px;
	height: 450px;
	margin: 0 auto;
	margin-top: 5%;
	padding: 80px;
	background-color: #fbfbfb;
}
.login-contain .login-box .login-title {
	font-size: 23px;
	line-height: 23px;
	color: #017f9e;
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
}
.login-contain .login-box .form-control,
.login-contain .login-box .md-checkbox label > .box,
.login-contain .login-box .md-radio label > .box {
	border: 1px solid #017f9e;
}
.login-contain .login-box .md-radio label > .check {
	background: #017f9e;
}
.navbar-brand .login-logo {
	background-color: transparent;
	padding: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}







/* LOGIN PAGE STYLE CHNAGE END 10/10/2017 */


.login-page-container {
  /* position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  
  
  border: 1px #000 solid; */
  width: 930px;
  margin: auto;
  margin-top: 50px;
  
  font-family: 'Ubuntu Condensed' !important;

}
.PoweredbyContainer {
	position: relative;
	float: left;
	width: 100%;
    text-align: right;
	padding: 5px 70px; 
}
.PoweredbyContainer .LanguageChange {
    position: relative;
    float: left;
    text-align: left;
    width: 50%;
}
.PoweredbyContainer .LanguageChange .LanguageChangeTxt {
    font-size: 13px;
    color: #4b4642;
    text-transform: capitalize;
    padding-bottom: 5px;
}
.Poweredbytext {
	text-align: right;
    color: #2d3790;
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 5px;
}
.login-container {
	width: 100%;
	position: relative;
	float: left;
	/* height: 400px; */
}


.login-container .LoginPanel {
	width: 100%;
	position: relative;
	float: left;
	/* border: 1px #000 solid; */
}
.help-block.help-block-error {
	margin: 0;
}
.login-container .LoginPanel .login-info,
.login-container .LoginPanel .login-body,
.login-container .LoginPanel .login-footer {
	width: 100%;
	position: relative;
	float: left;
	/* border: 1px #000 solid; */
}




/*.login-container .LoginPanel .login-info {
	text-align: center;
	color: #FFF;
	margin-bottom: 20px;
	font-size: 26px;
	font-family: 'Ubuntu Light';
}*/

.login-container .LoginPanel .login-info {
    text-align: center;
    color: #20B2AA;
    /* margin-bottom: 20px; */
    font-size: 25px;
    font-family: 'Ubuntu Light';
    background-color: #FFF;
    /*border-bottom: 1px solid #F00;*/
   /* padding: 10px;*/
     padding-top: 10px;
}
hr.hr-css{

	margin: 10px 0 0 0;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ed6b47, rgba(0, 0, 0, 0));
}
    



.login-table {
	display: block;
	table-layout: fixed;
}



.login-table .login-table-row {
	display: table-row;
	width: 100%;
}
.login-table .login-table-row .login-table-cell {
	display: table-cell;
	position: relative;
}
.login-table .login-table-row .login-table-cell.login-form-container {
	width: 547px;
	background-color: #fff;
	vertical-align: top;
}

/* REGISTRATION FORM */
#ContainerRegistation {
	width: 100%;
	position: relative;
	float: left;
}
.login-table.Registration {
	background-color: #fff;
	margin-bottom: 50px;
	text-align: left;
}
.login-table.Registration .form-view .control-label {
	text-indent: 0;
}
.login-table.Registration .login-table-row .login-table-cell.login-form-container {
	width: 420px;
}
.login-table.Registration .login-table-row .login-table-cell .Seperator {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
	width: 1px;
	background-color: #FFF;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #3fa3a5, rgba(0, 0, 0, 0));
}

.login-logo {
	width: 100%;
	position: relative;
	float: left;
	padding: 15px 0px;
	text-align: center;
	background-color: #FFF;
}

.FormContainer {
	width: 100%;
	position: relative;
	float: left;
}


.login-form-container .login-form {
	width: 100%;
	position: relative;
	float: left;
	padding: 5px 80px;
	/* padding-bottom: 30px; */
}

.login-form-container .login-form .forgotpass {
	position: relative;
	/*float: left;*/
}
.login-form-container .login-form .forgotpass * {
	color: #748b97;
}
.has-error .help-block.help-block-error {
	text-align: left;
}
.login-form-container .login-form .signup {
	width: 100%;
	display: block;
	position: relative;	
	float: left;
	padding: 3px 0px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #017f9e;
    background-color: transparent;
}
#FrmLogin.form-horizontal .md-checkbox-inline {
	margin-top: 0px;
	margin-bottom: 0px;
}

h3.login-title {
	margin: 20px 0px 15px;
	text-align: center;
	text-transform: capitalize;
	color: #748b97;
	font-family: 'Ubuntu Light';
	font-size: 18px;
}
.login-form .form-control {
	height: 40px;
}

.login-form .input-group-addon {
	min-width: 40px;
	font-size: 18px;
	border-color: #017f9e;
}


.login-form  .mt-radio, .mt-checkbox {
	margin-bottom: 0px;
	padding-left: 25px;
	
}
.form-action {
	width: 100%;
	position: relative;
	float: left;
	text-transform:  capitalize;
	
}
.form-action .remember {
	position: relative;
	float: left;
    padding-bottom: 4px;
}
.login-form .btn {
	position: relative;
}
.login-form .btn.green {
	padding: 10px 30px;
	background-color: #509c35;
	border-color: #509c35;
	text-transform: capitalize;
	float: right;

	border-radius: 0px !important;
	font-family: 'Ubuntu Condensed';
	
}
.login-form .btn i {
	display: block;
	font-size: 20px;
	top: 12px;	
	left: 5px;
	position: absolute;
}

.login-form .btn.green:not(.btn-outline):hover,
.btn.green:not(.btn-outline):active, 
.btn.green:not(.btn-outline):active:focus,
.btn.green:not(.btn-outline):focus,
.btn.green:not(.btn-outline).active, 
.open > .btn.green:not(.btn-outline).dropdown-toggle {
    color: #FFFFFF;
    background-color: #6dbf50;
    border-color: #6dbf50;
}
.login-form .forgot-password {
	font-size: 13px;
	color: #4b4642;
}

/* FOOTER */
.login-footer {
	width: 100%;
	position: relative;
	float: left;
    padding: 5px 10px;
	color: #ffffff;
	font-family: 'Ubuntu Light';
	font-size: 13px;
	background-color: #000;
}
ul.footer-menu li a {
	color: #ffffff;
}
hr.hr-css.footer {
	margin: 0px 0 0 0;
	position: relative;
    float: left;
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #FFF;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ed6b47, rgba(0, 0, 0, 0));
}
.login-footer .copyrights {
	position: relative;
	float: left;
	padding: 5px;
}

ul.footer-menu {
	margin: 0px;
	padding: 5px;
	list-style: none;
	/*float: right;*/
}
ul.footer-menu li {
	display: inline;
	position: relative;
	text-transform: capitalize;
	float: left;
	
}
ul.footer-menu li a:HOVER {
	/* color: #ed6a4c;
	text-decoration: none; */
}

ul.footer-menu li.split {
	margin: 0px 10px;
	margin-top: 3px;
	border-left: 1px #e3e2e1 solid;
}
/* ul.footer-menu li.split:before{
	content: "";
	width: 2px;
	height: 100%;
	
	position: absolute;
	left: 0px;
	top: 0px;
	
	background-color: #000;
} */



.login-img { width: 100%;}


/* RESPONSIVE CSS */
/* 320, 400, 480, 640, 720, 800, 860, 900, 1024, 1280 */

@media screen and (max-width:820px) {
	
	.login-footer {	padding: 10px 15px; }
	
	.login-logo { padding: 10px 0px}
	.login-form .form-control { height: 35px; }
	h3.login-title {margin: 10px 0px 15px}
	.login-form-container .login-form { padding: 15px; }
	
	.help-block {margin: 0px;}
	.login-logo img { max-height: 40px;}
}


@media screen and (max-width:480px) {
	
	.login-page-container {
	  width: 320px;
	  margin: auto;
	  margin-top: 10px;
	}
	.login-contain .login-box {
	    width: 300px;
	    height: 389px;
	    margin: 0 auto;
	    margin-top: 5%;
	    padding: 15px;
	    background-color: #fbfbfb;
	}
	.navbar.navbar-default {
    	padding: 10px 15px; 
    }
    .navbar-toggle {margin-right: 0;}
	.login-container .LoginPanel .login-info {
		color: #5b5b5b;
		font-size: 16px;
		font-family: 'Ubuntu Light';
		padding: 0px 10px;
	}
	img.login-img1 {
    	width: 100%;
    	display: none;
	}
	.login-footer-logo {
		display: none;
	}
	#ContainerRegistation .RegistrationHeader {
		text-align: center;
	}
	#ContainerRegistation .RegistrationHeader * .reg-logo-img {
		text-align: center;
	}
	#ContainerRegistation .RegistrationHeader * .reg-medi-logo-img,
	#ContainerRegistation .RegistrationHeader * .reg-wellness-logo-img {
		float: none !important;
		text-align: center;
	}
	.PoweredbyContainer { padding: 0 15px 10px; }
	.login-table ,
	.login-table .login-table-row ,
	.login-table .login-table-row .login-table-cell {
		display: block;
		width: 100%;
		float: left;
		 
	}
	.login-footer .copyrights { float: none; text-align: center; }
	.login-table .login-table-row .login-table-cell.login-form-container { width: 100%;}
	/* .login-form-container .login-form { padding: 10px 15px 20px; }
	
	.login-footer {	padding: 10px 15px; } */
	
}

@media screen and (min-width:481px) and (max-width:640px) {
	.login-page-container {
	  width: 400px;
	  margin: auto;
	  margin-top: 10px;
	}
	img.login-img1 {
    	width: 100%;
    	display: none;
	}
	.login-footer-logo {
		display: none;
	}
	#ContainerRegistation .RegistrationHeader {
		text-align: center;
	}
	#ContainerRegistation .RegistrationHeader * .reg-logo-img {
		text-align: center;
	}
	#ContainerRegistation .RegistrationHeader * .reg-medi-logo-img,
	#ContainerRegistation .RegistrationHeader * .reg-wellness-logo-img {
		float: none !important;
	}
	.login-footer .copyrights {
   	 float: none;
   	 text-align: center;
	}
	.login-container .LoginPanel .login-info {
		color: #5b5b5b;
		font-size: 20px;
		font-family: 'Ubuntu Light';
		padding: 0;
	}
	.login-table ,
	.login-table .login-table-row ,
	.login-table .login-table-row .login-table-cell {
		display: block;
		width: 100%;
		float: left;
		 
	}
	.login-table .login-table-row .login-table-cell.login-form-container { width: 100%;}
	.login-form-container .login-form { padding: 10px 15px; }
	
	.login-footer {	padding: 10px 15px; }
	.PoweredbyContainer {
		padding: 0 15px 10px;
	}
	
}
@media screen and (min-width:641px) and (max-width:820px) {
	.login-page-container {
	  width: 630px;
	  margin: auto;
	  margin-top: 10px;
	}
	.login-container .LoginPanel .login-info {
		color: #5b5b5b;
		font-size: 20px;
		font-family: 'Ubuntu Light';
		padding: 0;
	}
	/* .login-table ,
	.login-table .login-table-row ,
	.login-table .login-table-row .login-table-cell {
		display: block;
		width: 100%;
		float: left;
		 
	} */
	.login-table .login-table-row .login-table-cell.login-form-container { width: 55%;}
	.login-form-container .login-form { padding: 10px 15px; }
	.PoweredbyContainer { padding: 0 15px 10px; }
	
	
	
	.login-footer {	padding: 10px 15px; }
	
	.login-logo { padding: 10px 0px}
	.login-form .form-control { height: 35px; }
	h3.login-title {margin: 5px 0px 15px}
}
@media screen and (max-width:768px) {
	.centered {
	    position: absolute;
	    top: 35%;
	    transform: translate(-10%, -50%);
	    left: 15%;
	    font-size: 26px;
	}
	.login-fotr {
	   position: static;
	   padding: 0 15px;
	}
}
@media screen and (min-width:821px) and (max-width:950px) {
	.login-page-container {
	  width: 800px;
	  margin: auto;
	  margin-top: 10px;
	}
	.login-container .LoginPanel .login-info {
		color: #5b5b5b;
		font-size: 20px;
		font-family: 'Ubuntu Light';
		padding: 0;
	}
	/* .login-table ,
	.login-table .login-table-row ,
	.login-table .login-table-row .login-table-cell {
		display: block;
		width: 100%;
		float: left;
		 
	} */
	.login-table .login-table-row .login-table-cell.login-form-container { width: 55%;}
	.login-form-container .login-form { padding: 10px 15px; }
	.PoweredbyContainer { padding: 0 15px 10px; }
	
	
	
	/* .login-footer {	padding: 10px 15px; }
	.login-form-container .login-form {padding-bottom: 30px;}
	
	.login-logo { padding: 10px 0px}
	.login-form .form-control { height: 35px; }
	h3.login-title {margin: 5px 0px 15px} */
}

.modal .modal-header {
    background-color: #017f9e;
    color: #000;
}
.modal {
    border-radius: 15px 0px 15px 0px !important;
    -moz-border-radius: 15px 0px 15px 0px !important;
    -webkit-border-radius: 15px 0px 15px 0px !important;
    border: 2px solid #017f9e;
}
.modal-header {
    padding: 8px!important;
}
.modal-footer {
    padding: 6px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal .modal-title {
    color: #fff;
}
.modal-title {
    margin: 0;
    line-height: 1.42857;
}
.modal-body p {
    text-align: justify;
    margin: 0 0 10px;
    line-height: 1.6;
    text-indent: 10px;
}
p.non-indent {
    text-indent: 0px !important;
}

p.term-indent {
    text-indent: 30px !important;
}

.modal-body h4 {
    font-size: 18px;
    font-family: 'Ubuntu Light';
    margin-top: 15px;
    margin-bottom: 5px;
    
}
.modal-body h5 {
    font-size: 15px;
    font-family: 'Ubuntu Light';
	font-weight: bold;
	color: #017f9e;
    margin-top: 15px;
    margin-bottom: 5px;
}
.close {
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat !important;
    text-indent: -10000px;
    outline: none;
    background-image: url(../img/portlet-remove-icon-white.png) !important;
    opacity: 2.4;
    filter: alpha(opacity=20);
}
#dob {
    text-transform: capitalize !important;
}
.PolicyInfoTitle {
	font-size: 16px;
	color: #666565;
	font-family: 'Ubuntu Condensed';
    font-weight: 400;
}



	/* new design change css start */
.login-table .login-table-row .login-table-cell.bg-white {
	background-color: #fff;
}
.login-table .login-table-row .login-table-cell .login-header-logo,
.login-table .login-table-row .login-table-cell .login-footer-logo {
	position: relative;
	text-align: center;
}
.login-table .login-table-row .login-table-cell .login-footer-logo {
	padding: 10px;
	text-align: center;
	background-color: #fff;
}
.login-table .login-table-row .login-table-cell .login-footer-logo .Powerbytxt {
	font-size: 18px;
    padding: 5px;
    color: #327c99;
}
.login-table .login-table-row .login-table-cell .login-footer-logo .login-footer-logo-contain {
	text-align: center;
}
.login-table .login-table-row .login-table-cell .login-footer-logo .login-footer-logo-contain .footer-logo {
	padding: 10px;
	display: inline;
}
.login-form .form-action .rememberforgot,
.login-form .form-action .loginbutton {
	position: relative;
	float: left;
	width: 50%;
}
/*.login-form .form-action .loginbutton button {
	font-size: 22px;
	line-height: 22px;
	font-weight: 400;
}*/
.login-form .form-action .rememberforgot .remember {
	width: 100%;
}
.login-form .form-action .loginbutton {
	/*float: right;*/
}
.login-form .form-action .loginbutton .btn.green {
	width: 100%;
}
.login-form .form-action .regbutton {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 40px;
}
.login-form .form-action .regbutton a {
	position: relative;
    float: left;
    font-size: 20px;
    font-weight: 400;
    padding: 12px;
    width: 100%;
    color: #327c99;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #327c99;
    text-decoration: none;

    font-family: 'Ubuntu Condensed';
}
.login-form .form-action .regbutton a:hover {
	background-color: #327c99;
	color: #fff;
	text-decoration: none;
}
.login-form .form-action .rememberforgot .remember .btn.green {
	padding: 15px 30px;
	width: 100%;
	background-color: #509c35;
	border-color: #509c35;
	text-transform: capitalize;
	float: right;
}
.login-form .form-group .col-md-12 .input-group {
	width: 100%;
}
.login-form .form-group .col-md-12 .input-group.custominput .form-control {
	height: 40px;
}
.login-form .form-action .rememberforgot .remember .mt-checkbox span {
	background-color: #fff;
}




	/* Register login style start */

#ContainerRegistation,
#ContainerRegistation .RegistrationHeader {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
}
#ContainerRegistation .RegistrationHeader {
	padding: 15px 30px;
	background-color: #fff;
}
#ContainerRegistation .RegistrationHeader * .reg-logo-img {
	padding: 10px;
	width: 185px;
}
#ContainerRegistation .RegistrationHeader * .reg-medi-logo-img,
#ContainerRegistation .RegistrationHeader * .reg-wellness-logo-img {
	/*float: right;*/
	padding: 10px;
}
.RegistrationLine {
	border: 3px solid #307e95;
	margin: 0;
}
#ContainerRegistation .RegistrationNav,
#ContainerRegistation .RegistrationNav * .RegistrationNavContain {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 15px;
	background-color: #fff;
	text-align: center;
}
#ContainerRegistation .RegistrationNav * .RegistrationNavContain ul.NavCount {
	margin: 0; 
    list-style: none;
}
#ContainerRegistation .RegistrationNav * .RegistrationNavContain ul.NavCount li {
	display: inline;
}
#ContainerRegistation .RegistrationNav * .RegistrationNavContain ul.NavCount li.NavCounts {
    display: inline-block;
    width: 33px;
    height: 33px;
    color: #327c99;
    margin: 0px 40px;
    line-height: 30px;
    border-radius: 25px;
    background: #fff;
    border: 1px solid #327c99;
}
#ContainerRegistation .RegistrationNav * .RegistrationNavContain ul.NavCount li.NavCounts span {
	display: block;
 	padding-top:5px;
}
#ContainerRegistation .RegistrationNav * .RegistrationNavContain ul.NavCount li.NavCounts:hover {
	background: #327c99;
	color: #fff;
	cursor: pointer;
}
#ContainerRegistation .RegistrationContainer {
	position: relative;
	float: left;
	width: 100%;
	padding: 40px;
	background-color: #fff;
}
#ContainerRegistation .RegistrationContainer * a.RegBackBtn,
#ContainerRegistation .RegistrationContainer * a.RegVerifyBtn {
    position: relative;
    float: left;
   	width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}
#ContainerRegistation .RegistrationContainer .RegBtnContain {
	padding-top: 40px;
}
#ContainerRegistation .RegistrationContainer * a {
	text-decoration: none;
}
#ContainerRegistation .RegistrationContainer * a.RegBackBtn {
	color: #327c99;
	border: 1px solid #327c99;
}
#ContainerRegistation .RegistrationContainer * a.RegBackBtn:hover {
	color: #fff;
	background-color: #327c99;
}
#ContainerRegistation .RegistrationContainer * a.RegVerifyBtn {
	color: #fff;
	background-color: #509c35;
}
#ContainerRegistation .RegistrationContainer * a.RegVerifyBtn:hover {
	background-color: rgba(80, 156, 53, 0.76);
}
	/* Register login style end */

	/* new design change css start end */

.login-container input.form-control {
    font-size: 15px;
    border-radius: 0px;
}

.Btn {
	border-radius: 0px;
	/*background-color: #509c35;*/
	text-align: center;

	font-size: 17px;
	text-transform: capitalize;

	color: #FFF;
	line-height: 40px;
	border: none;
}


.Btn.Login { padding: 0px 40px; }
.Btn.Forgot { padding: 0px 40px; }
.Btn.Green { background-color: #017f9e; }
/*.Btn.Green:HOVER { background-color: rgb(90, 181, 103);  }*/
.Btn.Green:HOVER{background-color: #565656; color: #FFF; }
.Btn.RegisterNow { 
	width: 100%; 
	/*margin-top: 35px; */
	margin-top: 10px;
	border: 1px #327c99 solid; 
	color: #327c99; 
	background: transparent;}
.Btn.RegisterNow:HOVER {background-color: #327c99; color: #FFF; }

.Btn.Back { background-color: #d6d7d8; color: #565656; }
.Btn.Back:HOVER{background-color: #565656; color: #FFF; }

.Btn.PolicyVerification, .Btn.PolicyVerificationBack{ width: 100%; margin-top: 15px;}

.Btn.Registration { width: 100%;  }


/* FORM POLICY VERIFICATION */
#FrmPolicyVerify .form-group .control-label {
	font-size: 16px;
	text-align: left;
}
#FrmPolicyVerify .form-group .control-label.info{
	font-size: 13px;
	margin-top: 4px;
	font-style: italic;
	text-align: left;
}

#FrmPolicyVerify .form-group:not(.has-error) .control-label {
	color: #017f9e;
}
#FrmPolicyVerify .form-group:not(.has-error) .control-label.info{
	color: #918f8f;
}

/* REgistration Steps */

.RegistrationNavContain {
	width: 100%;
	display: block;
	text-align: center;
}
ul.NavCount {
	margin: 0px;
	padding: 0px;
    display: inline-block;
}

ul.NavCount li {
    display: block;
    position: relative;
    float: left;
    text-align: center;

}

ul.NavCount li:FIRST-CHILD:BEFORE {
	content: "...............";
	font-size: 30px;
	color: #979390;
	position: absolute;
	right: -52px;
	top: 2px;

	line-height: 10px;
}
ul.NavCount li .Step {
	
	margin: auto;
	display: block;
	width: 30px;
	height: 30px;

	background-color: #FFF;

	color: #017f9e;

	line-height: 28px;
	font-size: 16px;

	border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border: 1px #017f9e solid;
}

ul.NavCount li .title {
	font-size: 16px;
	color: #017f9e;
	text-transform: capitalize;
	padding: 2px 50px;
	font-family: 'ubuntu light';
}
ul.NavCount li.Active .Step { background-color: #017f9e; color: #FFF; }
ul.NavCount li.Active .title { font-weight: 600;  }

ul.NavCount li.Done .Step { background-color: #439626; color: #FFF; border-color: #439626}

/*ul.NavCount li:nth-child(1)*/


.md-radio.Language-En label { font-size: 15px; line-height: 15px;}
.md-radio.Language-Ar label { font-size: 20px; line-height: 15px; }

.login-form .btn.calendar-icon i {
	position: relative;
	font-size: 20px;
	top: 5px;
	height: 25px;
}
p{color: #748b97;}
.reg-alert {
	display: flex;
}
#FrmForgot p,
.input-group-addon > i,
label { color: #017f9e; }
.md-checkbox label > .remember-box {
	top: 0px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    height: 19px;
    width: 19px;
    z-index: 5;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

ul.navbar-nav  {
	font-size: 16px!important;
}
ul.navbar-nav li a.nav-text-header{
	color: #424141;
}
/* ARABIC LANGUAGE CSS */
body.Lang-AR .login-container .LoginPanel .login-table {direction: rtl;}
body.Lang-AR ul.NavCount li {float: right;}
body.Lang-AR ul.NavCount li:FIRST-CHILD:BEFORE{right: 155px;}
