<form name="FormContractInfo" class="horizontal-form" method="post">
    <div class="portlet-body">
        <div class="form-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.ContractSignedDate.$invalid && FormContractInfo.ContractSignedDate.$touched}">
                        <label class="fld-required">Contract Signed Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="ContractSignedDate" ng-init="InputMask()" name="ContractSignedDate" ng-model="ContractInfo.ContractSignedDate" required>
                            <p ng-show="FormContractInfo.ContractSignedDate.$invalid && FormContractInfo.ContractSignedDate.$touched" class="help-block">This field is required.</p> 
                            <span class="input-group-addon" id="ContractSignedDate" >
                                <span class="fa fa-calendar" id="calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.InvoicingFrequencyID.$invalid && FormContractInfo.InvoicingFrequencyID.$touched}">
                        <label class="fld-required">Invoicing Frequency</label>
                        <select id="invoicing-frequency" name="InvoicingFrequencyID" ng-model="ContractInfo.InvoicingFrequencyID" class="form-control select2" required> 
                            <option value="{{If.ID}}" ng-repeat="If in InvoicingFrequencyList">{{If.InvoicingFrequency}}</option>
                        </select>     
                        <p ng-show="FormContractInfo.InvoicingFrequencyID.$invalid && FormContractInfo.InvoicingFrequencyID.$touched" class="help-block">This field is required.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Advance</label>
                        <div class="input-group">
                            <select id="advance" name="Advance" class="form-control select2" ng-model="ContractInfo.Advance">
                                <option value="">-- Select --</option>
                                <option value='Y'>Yes</option>
                                <option value='N'>No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.PaymentTerms.$invalid && FormContractInfo.PaymentTerms.$touched}">
                        <label class="fld-required">Payment Terms</label>
                        <select id="payment-terms" name="PaymentTerms" ng-model="ContractInfo.PaymentTerms"class="form-control select2" required> 
                            <option value="7">7</option>
                            <option value="14">14</option>
                            <option value="21">21</option>
                            <option value="28">28</option>
                            <option value="35">35</option>
                            <option value="42">42</option>
                            <option value="49">49</option>
                            <option value="56">56</option>
                            <option value="63">63</option>
                            <option value="70">70</option>
                            <option value="77">77</option>
                            <option value="84">84</option>
                            <option value="91">91</option>
                        </select>
                        <p ng-show="FormContractInfo.PaymentTerms.$invalid && FormContractInfo.PaymentTerms.$touched" class="help-block">This field is required.</p>     
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.FreightTerms.$invalid && FormContractInfo.FreightTerms.$touched}">
                        <label class="fld-required">Freight Terms</label>
                        <div class="input-group">
                            <input type="text" class="form-control" NAME="FreightTerms" id="FreightTerms" ng-model="ContractInfo.FreightTerms" required> 
                            <p ng-show="FormContractInfo.FreightTerms.$invalid && FormContractInfo.FreightTerms.$touched" class="help-block">This field is required.</p>     
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.ReturnPolicy.$invalid && FormContractInfo.ReturnPolicy.$touched}">
                        <label class="fld-required">Return Policy</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="ReturnPolicy" ng-model="ContractInfo.ReturnPolicy" required> 
                            <p ng-show="FormContractInfo.ReturnPolicy.$invalid && FormContractInfo.ReturnPolicy.$touched" class="help-block">This field is required.</p>     
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.LeadTime.$invalid && FormContractInfo.LeadTime.$touched}">
                        <label class="fld-required" for="LeadTime">Lead Time</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="LeadTime" id="LeadTime" ng-model="ContractInfo.LeadTime" required> 
                            <p ng-show="FormContractInfo.LeadTime.$invalid && FormContractInfo.LeadTime.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.MOQValue.$invalid && FormContractInfo.MOQValue.$touched}">
                        <label class="fld-required">MOQ / Value</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="MOQValue" ng-paste="paste($event)" ng-keypress="filterValue($event)"  ng-model="ContractInfo.MOQValue" required> 
                            <p ng-show="FormContractInfo.MOQValue.$invalid && FormContractInfo.MOQValue.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.PickUpTerms.$invalid && FormContractInfo.PickUpTerms.$touched}">
                        <label class="fld-required">Pick up Terms</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="PickUpTerms" ng-model="ContractInfo.PickUpTerms" required> 
                            <p ng-show="FormContractInfo.PickUpTerms.$invalid && FormContractInfo.PickUpTerms.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" >
                        <label >Commercial/Trade License No</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-paste="paste($event)" name="TradeLicenseNo" ng-model="ContractInfo.TradeLicenseNo" ng-keypress="filterValue($event)"> 
                        </div>
                    </div>
                </div>
                 <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormContractInfo.TaxID.$invalid && FormContractInfo.TaxID.$touched}">
                        <label class="fld-required">VAT / GST / Tax ID</label>
                        <div class="input-group">
                            <input type="text" name="TaxID" ng-paste="paste($event)" class="form-control" id="VGTID" ng-model="ContractInfo.TaxID" ng-keypress="filterValue($event)" required> 
                            <p ng-show="FormContractInfo.TaxID.$invalid && FormContractInfo.TaxID.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Contract Upload Option</label>
                        <div class="input-group file-group" id="contract-upload-ctrl" ng-init="initContractUpload()">
                            <div>
                                <input type="file" class="file-pick" name="ContractUpload" accept="image/x-png,image/jpeg"/>
                            </div>
                            <input type="text" class="form-control" readonly/>
                            <div class="file-controls">
                                <i title="Select" class="fa fa-folder-open font-blue-ebonyclay up-btn"></i>
                                <i title="Change" class="fa fa-edit font-green-jungle ch-btn"></i>
                                <i title="Remove" class="fa fa-trash font-red-mint rm-btn" ng-click="removeLogo()"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Upload Trade License </label>
                        <div class="input-group file-group" id="trade-license-ctrl" ng-init="initTradeLicense()">
                            <div>
                                <input type="file" class="file-pick" name="TradeLicense" accept="image/x-png,image/jpeg"/>
                            </div>
                            <input type="text" class="form-control" readonly/>
                            <div class="file-controls">
                                <i title="Select" class="fa fa-folder-open font-blue-ebonyclay up-btn"></i>
                                <i title="Change" class="fa fa-edit font-green-jungle ch-btn"></i>
                                <i title="Remove" class="fa fa-trash font-red-mint rm-btn" ng-click="removeLogo()"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Upload Tax Certificate</label>
                        <div class="input-group file-group" id="tax-certificate-ctrl" ng-init="initTaxCertificate()">
                            <div>
                                <input type="file" class="file-pick" name="TaxCertificate" accept="image/x-png,image/jpeg"/>
                            </div>
                            <input type="text" class="form-control" readonly/>
                            <div class="file-controls">
                                <i title="Select" class="fa fa-folder-open font-blue-ebonyclay up-btn"></i>
                                <i title="Change" class="fa fa-edit font-green-jungle ch-btn"></i>
                                <i title="Remove" class="fa fa-trash font-red-mint rm-btn" ng-click="removeLogo()"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="row mt-10">
                            <div class="col-xs-10">
                                <div ng-if="CIDShowErrorMsg" class="alert alert-danger">
                                    <button class="close" data-close="alert"></button>
                                    <span class="error-txt">{{CIDErrorMsg}}</span>
                                </div>
                            </div>
                        <label>&nbsp;</label>
                        <div class="action-group">
                            <button type="button" ng-click="saveContractInfo(FormContractInfo.$valid)" class="btn blue fa fa-save" ng-disabled="FormContractInfo.$invalid"> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade in" id="contract-popup" data-width="450">  
    <div class="modal-header" style="background-color: #299d9d;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
        <h3><span class="modal-title custom-font-color">RNT - RFID supplier Management</span></h3>
    </div>
    <div class="modal-header">
        <p><h3>Cantract Info - Saved Successfully</h3></p>
        <button class="btn green" style="float: right;" data-dismiss="modal" aria-hidden="false"> Ok</button>
    </div>
</div>