<form name="FormBasicDetail" class="horizontal-form" method="post">
    <div class="portlet-body">
        <div class="form-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.DeliveryManager.$invalid && FormBasicDetail.DeliveryManager.$touched}">
                        <label class="fld-required">Delivery Manager</label>
                        <div class="input-group">
                            <select id="delivery-manager" name="DeliveryManager" class="form-control select2" ng-model="BasicDetail.DeliveryManager" ng-change="onDeliveryManagerChange(BasicDetail.DeliveryManager)"> 
                                <option value="{{Dm.ID}}" ng-repeat="Dm in DeliveryManagerList">{{Dm.FirstName}}</option>
                            </select>
                        <p ng-show="FormBasicDetail.DeliveryManager.$invalid && FormBasicDetail.DeliveryManager.$touched" class="help-block">This field is required.</p>
                    </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label class="fld-required">RFID Supplier Name</label>
                            <div class="input-group" ng-class="{'has-error' : FormBasicDetail.RFIDSupplierName.$invalid && FormBasicDetail.RFIDSupplierName.$touched}">
                                <input type="text" ng-model="BasicDetail.RFIDSupplierName" name="RFIDSupplierName" class="form-control" onkeydown="return /^[a-zA-Z\. ]*$/i.test(event.key)" required> 
                                <p ng-show="FormBasicDetail.RFIDSupplierName.$invalid && FormBasicDetail.RFIDSupplierName.$touched" class="help-block">This field is required.</p>
                            </div>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Address</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="BasicDetail.Address"> 
                            </div>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Country</label>
                            <div class="input-group">
                                <select id="country" name="CountryID" class="form-control select2" ng-model="BasicDetail.CountryID" ng-change="onCountryChange(Ct.ID)"> 
                                    <option value="{{Ct.ID}}" ng-repeat="Ct in CountryList">{{Ct.CountryName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>State</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="BasicDetail.State"> 
                            </div>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>City</label>
                            <div class="input-group">
                                <select id="city" name="CityID" class="form-control select2" ng-model="BasicDetail.CityID" >
                                    <option value="{{C.ID}}" ng-repeat="C in CityList">{{C.CityName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Zip/ Pin/ PO Box</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-paste="paste($event)" ng-model="BasicDetail.Zip" ng-keypress="filterValue($event)"> 
                            </div>
                        </div>
                    </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.LandlineNumber.$invalid && FormBasicDetail.LandlineNumber.$touched}">
                        <label class="fld-required">Landline Number</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-paste="paste($event)" name="LandlineNumber" ng-keypress="filterValue($event)" ng-model="BasicDetail.LandlineNumber" required> 
                            <p ng-show="FormBasicDetail.LandlineNumber.$invalid && FormBasicDetail.LandlineNumber.$touched" class="help-block">This field is required.</p>
                        </div>
                    </div>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group" ng-class="{'has-error' : FormBasicDetail.Currency.$invalid && FormBasicDetail.Currency.$touched}">
                    <label class="fld-required">Currency</label>
                        <div class="input-group">
                            <select id="currency" name="Currency" class="form-control select2" ng-model="BasicDetail.Currency" required>
                                <option value="{{Cu.ID}}" ng-repeat="Cu in CurrencyList">{{Cu.CurrencyName}} ({{Cu.Code}})</option>
                            </select>
                            <p ng-show="FormBasicDetail.Currency.$invalid && FormBasicDetail.Currency.$touched" class="help-block">This field is required.</p>
                        </div>
                    </div>
                </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="form-group">
                    <label>RFIDSupplier Logo / Image</label>
                        <div class="input-group file-group" id="rfid-supplier-logo-ctrl" ng-init="initLogoPicker()">
                            <div>
                                <input type="file" ng-model="RFIDSupplierLogo" class="file-pick img" name="Logo" accept="image/x-png,image/jpeg"/>
                                <img/>
                                </div>
                                <div>
                                <button class="btn up-btn">Select</button>
                                <button class="btn ch-btn">Change</button>
                                <button class="btn rm-btn" ng-click="removeLogo()">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-xs-12 action-control-bar">
                <div class="row mt-10">
                    <div class="col-xs-10">
                        <div ng-if="LSDShowErrorMsg" class="alert alert-danger">
                            <button class="close" data-close="alert"></button>
                            <span class="error-txt">{{LSDErrorMsg}}</span>
                        </div>
                    </div>
                        <div class="action-group">
                            <button type="button" ng-click="saveRFIDSupplier(FormBasicDetail.$valid)" class="btn blue fa fa-save" ng-disabled="FormBasicDetail.$invalid"> Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal fade in" id="basicDetails"  data-width="450">  
    <div class="modal-header" style="background-color: #299d9d;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
        <h3><span class="modal-title custom-font-color"> RNT - RFID Supplier Management</span></h3>
    </div>
    <div class="modal-header">
        <p><h3>RFID Supplier Details - Saved Successfully</h3></p>
        <button class="btn green" style="float: right;" data-dismiss="modal" aria-hidden="false"> Ok</button>
    </div>
</div>