<div class="ui-page price-calculator-page">	
	<form name="FrmPriceCalculator" role="form" novalidate>
		<div class="portlet light mb-3">
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-12">
						<h3>
						<button type="button" ng-click="backToManagmentPage()" class="btn blue"><i class="fa fa-reply-all"> Back</i></button>
						<strong>Quote Generator</strong>
						</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="portlet light mb-4">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold">PROSPECT DETAILS</span>
				</div>
				<div class="caption-right">
						<label>Quote for existing customer</label>
						<label>
							<input type="radio" ng-disabled="disable" name="existcust" id="existcustY" ng-change="QuoteChange('Y')" ng-model="FormData.IsExistingCustomer" value="Y"> Yes
						</label>
						<label>
							<input type="radio" ng-disabled="disable" name="existcust" id="existcustN" ng-change="QuoteChange('N')" ng-model="FormData.IsExistingCustomer" value="N"> No
						</label>
				</div>
				<!-- <div class="form-actions" style="float: right;">
					<button type="button" ng-click="FormSubmit(FrmPriceCalculator.$valid)" class="btn blue">Generate Quote</button>
				</div> -->
			</div>
			<div class="portlet-body">
				<div class="form-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3" ng-show="ShowCustomerName">
							<div class="form-group" ng-class="{'has-error' : FrmPriceCalculator.CustomerName.$invalid && FrmPriceCalculator.CustomerName.$touched}">
								<label class="fld-required">Customer Name</label>
								<div class="input-group">
									<input type="text" class="form-control" name="CustomerName" ng-disabled="disable" ng-model="FormData.CustomerName"> 
									<p ng-show="FrmPriceCalculator.CustomerName.$invalid && FrmPriceCalculator.CustomerName.$touched" class="help-block">This field is Required.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3" ng-show="ShowCustomerID">
							<div class="form-group">
								<label class="fld-required">Customer Name</label>
								<div class="input-group">
									<select id="customer-id" name="CustomerID" class="form-control select2"
									ng-disabled="disable" ng-model="FormData.CustomerID" ng-change="onCustomerChange(FormData.CustomerID)"> 
									<option value="{{Cn.ID}}" ng-repeat="Cn in CustomerList">{{Cn.CustomerName}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label class="fld-required">Customer Type</label>
								<div class="input-group">
									<select id="customer-type" name="CustomerTypeID" class="form-control select2" required
									ng-disabled="disable" ng-model="FormData.CustomerTypeID" ng-change="onCustomerTypeChange(Ct.CustomerTypeID)"> 
										<option value="{{Ct.ID}}" ng-repeat="Ct in CustomerTypeList">{{Ct.CustomerType}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label class="fld-required">Quote Type</label>
								<div class="input-group">
									<select id="quote-type" name="QuoteTypeID" class="form-control select2" required
									ng-disabled="disable" ng-model="FormData.QuoteTypeID" ng-change="onQuoteTypeChange(Qt.QuoteTypeID)"> 
										<option value="{{Qt.ID}}" ng-repeat="Qt in QuoteTypeList">{{Qt.QuoteType}}</option>
										<option>Rent to Own</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group" ng-class="{'has-error' : FrmPriceCalculator.SPName.$invalid && FrmPriceCalculator.SPName.$touched}">
								<label class="fld-required">Sales Person Name</label>
								<div class="input-group">
									<select id="sales-person-name" name="SPName" ng-disabled="disable" class="form-control select2" required
									ng-model="FormData.SPName" ng-change="SalesPersonNameChange(SPN.SPName)"> 
										<option value="{{SPN.ID}}" ng-repeat="SPN in SalesPersonNameList">{{SPN.FirstName}}</option>
									</select>
									<!-- <input type="text" class="form-control" name="SPName" ng-disabled="disable" ng-model="FormData.SPName" required>  -->
									<p ng-show="FrmPriceCalculator.SPName.$invalid && FrmPriceCalculator.SPName.$touched" class="help-block">This field is Required.</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label class="fld-required">Head Office Country</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.HOCountry" required>
								</div>
							</div>
						</div> -->
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label class="fld-required">Head Office Country</label>
								<div class="input-group">
									<select id="country" name="CountryID" class="form-control select2"
									ng-disabled="disable" ng-model="FormData.HOCountryID" ng-change="onCountryChange(Ct.ID)" required> 
										<option value="{{Ct.ID}}" ng-repeat="Ct in CountryList">{{Ct.CountryName}}</option>
									</select>
								</div>
							</div>
						</div>     
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Zip / Pin / PO Box</label>
								<div class="input-group">
									<input type="text" name="POBox" id="POBox" class="form-control" ng-disabled="disable" ng-model="FormData.POBox"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group" ng-class="{'has-error' : FrmPriceCalculator.HOPhoneNo.$invalid && FrmPriceCalculator.HOPhoneNo.$touched}">
								<label class="fld-required">Head Office Phone No</label>
								<div class="input-group"> <!--ng-pattern="/^[0-9]{10}$/"-->
									<input type="text" class="form-control" name="HOPhone" id="HOPhoneNo" ng-disabled="disable" ng-model="FormData.HOPhone" required> 
									<p ng-show="FrmPriceCalculator.HOPhoneNo.$invalid && FrmPriceCalculator.HOPhoneNo.$touched" class="help-block">This field is Required.</p>								
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group" ng-class="{'has-error' : FrmPriceCalculator.HOLocation.$invalid && FrmPriceCalculator.HOLocation.$touched}">
								<label class="fld-required">Head Office Location</label>
								<div class="input-group">
									<input type="text" class="form-control" name="HOLocation" ng-disabled="disable" ng-model="FormData.HOLocation" required> 
									<p ng-show="FrmPriceCalculator.HOLocation.$invalid && FrmPriceCalculator.HOLocation.$touched" class="help-block">This field is Required.</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label class="fld-required">Head Office City</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.HOCity" required> 
								</div>
							</div>
						</div> -->
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label class="fld-required">Head Office City</label>
								<div class="input-group">
									<select id="city" name="CityID" class="form-control select2"
									ng-disabled="disable" ng-model="FormData.HOCityID" required>
										<option value="{{C.ID}}" ng-repeat="C in CityList">{{C.CityName}}</option>
									</select>
								</div>
							</div>
						</div>
						<!-- <div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Billing Contact Name</label>
								<div class="input-group">
									<input type="text" name="BCName" class="form-control" ng-disabled="disable" ng-model="FormData.BCName"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Billing Contact Phone No</label>
								<div class="input-group">
									<input type="text" name="BCPhone" class="form-control" id="BOPhoneNo" ng-disabled="disable" ng-model="FormData.BCPhone"> 
								</div>
							</div>
						</div>-->
						 <div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Billing Contact Email</label>
								<div class="input-group">
									<input type="text" class="form-control" name="BCEmail" ng-disabled="disable" ng-model="FormData.BCEmail" 
									ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
								</div>
							</div>
						</div> 
						<!--<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Alternate Contact Name</label>
								<div class="input-group">
									<input type="text" name="ACName" class="form-control" ng-disabled="disable" ng-model="FormData.ACName"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Alternate Contact Phone No</label>
								<div class="input-group">
									<input type="text" name="ACPhone" class="form-control" id="ACPhoneNo" ng-disabled="disable" ng-model="FormData.ACPhone"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Alternate Contact Email</label>
								<div class="input-group">
									<input type="text" class="form-control" name="ACEmail" ng-disabled="disable" ng-model="FormData.ACEmail"
									ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold">If Cx type selected above is Non-Hotel, please answer the following 2 questions
					</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="form-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Footfall During Weekdays</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.FDWeekDays"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Footfall During Weekends</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.FDWeekEnds"> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<div class="row custom-row">
			<div class="col-xs-12 col-md-6 pr-1p5">
				<div class="portlet light mb-3">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold">Please fill the following for {{CustomerType}}
							</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="form-body">
							<div class="row">
								<div class="col-xs-6 col-md-4" ng-if="FormData.CustomerTypeID == 1 || FormData.CustomerTypeID ==10">
									<div class="form-group">
										<label class="fld-required"># of Rooms</label>
										<div class="input-group" ng-class="{'has-error' : FrmPriceCalculator.RoomCount.$invalid && FrmPriceCalculator.RoomCount.$touched}">
											<input ng-model="FormData.RoomCount" ng-disabled="disable" name="RoomCount" ng-change="OnRoomCountChange()" type="text" class="form-control" required>
											<p ng-show="FrmPriceCalculator.RoomCount.$invalid && FrmPriceCalculator.RoomCount.$touched" class="help-block">This field is Required.</p> 
										</div>
									</div>
								</div>	
								<div class="col-xs-6 col-md-4" ng-if="FormData.CustomerTypeID != 1 && FormData.CustomerTypeID !=10">
									<div class="form-group" ng-class="{'has-error' : FrmPriceCalculator.RoomCount.$invalid && FrmPriceCalculator.RoomCount.$touched}">
										<label class="fld-required">Average Footfall/day</label>
										<div class="input-group">
											<input ng-model="FormData.RoomCount" ng-disabled="disable" name="RoomCount" ng-change="OnRoomCountChange()" type="text" class="form-control" required> 
											<p ng-show="FrmPriceCalculator.RoomCount.$invalid && FrmPriceCalculator.RoomCount.$touched" class="help-block">This field is Required.</p> 
										</div>
									</div>
								</div>						
								<div class="col-xs-5 col-md-4">
									<div class="form-group">
										<label class="fld-required">PAR Level</label>
										<div class="input-group" ng-class="{'has-error' : FrmPriceCalculator.PARLevelExpected.$invalid && FrmPriceCalculator.PARLevelExpected.$touched}">
											<input ng-model="FormData.PARLevelExpected" ng-disabled="disable" name="PARLevelExpected" ng-change="OnPARLevelChange()" type="text" class="form-control" required> 
											<p ng-show="FrmPriceCalculator.PARLevelExpected.$invalid && FrmPriceCalculator.PARLevelExpected.$touched" class="help-block">This field is Required.</p> 
										</div>
									</div>
								</div>
								<!-- <div class="col-xs-12 col-sm-6 col-md-4">
									<div class="form-group">
										<label>Occupancy Considering *</label>
										<div class="input-group">
											<input ng-model="FormData.OccupancyConsidering" ng-change="OnOccupancyChange()" type="text" class="form-control" required> 
										</div>
									</div>
								</div> -->

								<div class="col-xs-7 col-md-4">
									<div class="form-group">
										<label class="fld-required">Occupancy</label>
										<div class="input-group">
											<select id="occupancy-considering" name="OccupancyConsidering" class="form-control" 
											ng-model="FormData.OccupancyConsidering" ng-disabled="disable" ng-change="OnOccupancyChange()" required> 
												<option value="">-- Select --</option>
												<option value="{{Occupancy}}" ng-repeat="Occupancy in OccupancyList">{{Occupancy}}%</option>
											</select>
											<!-- <span class="has-error">This field is required</span> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 pl-1p5">
				<div class="portlet light mb-3">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold">Terms</span>
						</div>				
					</div>
					<div class="portlet-body">
						<div class="form-body">
							<div class="row">
								<!-- <div class="col-sm-6 col-md-4">
									<div class="form-group">
										<label>Margin *</label>
										<div class="input-group">
											<input ng-model="FormData.PTMargin" type="text" class="form-control" required> 
										</div>
									</div>
								</div> -->
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="form-group">
										<label class="fld-required">Margin</label>
										<div class="input-group">
											<select id="margin" name="PTMargin" ng-change="OnMarginChange()" class="col-xs-4 form-control" 
											ng-model="FormData.PTMargin" ng-disabled="disable" required>
												<option value="">-- Select --</option>
												<option value="{{Margin}}" ng-repeat="Margin in MarginList">{{Margin}}%</option>
											</select>
										</div>
									</div>
								</div>
								<!-- <div class="col-sm-6 col-md-4">
									<div class="form-group">
										<label>Quote Validity *</label>
										<div class="input-group">
											<input ng-model="FormData.QuoteValidity" type="text" class="form-control" required> 
										</div>
									</div>
								</div> -->
								<div class="col-xs-6 col-md-3">
									<div class="form-group">
										<label class="fld-required">Quote Validity</label>
										<div class="input-group">
											<select id="quote-validity" name="QuoteValidity" class="form-control" 
											ng-model="FormData.QuoteValidity" ng-disabled="disable" required>
												<option value="">-- Select --</option>
												<option value="{{Validity}}" ng-repeat="Validity in ValidityList">{{Validity}} days</option>
											</select>
											<!-- <span class="has-error">This field is required</span> -->
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-6">
									<div class="form-group">
										<label class="fld-required">Currency</label>
										<div class="input-group">
											<select id="currency" name="Currency" class="form-control" 
											ng-model="FormData.Currency" ng-disabled="disable" required>
												<option value="">-- Select --</option>
												<option value="{{Cu.CurrencyCode}}" ng-repeat="Cu in CurrencyList">{{Cu.Currency}} ({{Cu.CurrencyCode}})</option>
											</select>
											<!-- <span class="has-error">This field is required</span> -->
										</div>
									</div>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>		
		</div>							
		<div class="portlet light mb-3" ng-show="ShowGenerateQuote">
			<!-- <div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold">{{CustomerType}}</span>
				</div>
				
			</div> -->
			<div class="portlet-body ">
				<div class="form-body">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-2">
							<div class="form-group">
								<label class="fld-required">Category</label>
								<div class="input-group">
									<select id="category" name="Category" class="form-control select2" 
									ng-model="SubFormData.CategoryID" ng-disabled="disable" ng-change="onCategoryChange(SubFormData.CategoryID)"> 
										<option value="{{Category.ID}}" ng-repeat="Category in CategoryList">{{Category.CategoryName}}</option>
									</select>
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-2">
							<div class="form-group">
								<label class="fld-required">Product</label>
								<div class="input-group">
									<select id="product" name="Product" class="form-control select2" 
									ng-model="SubFormData.ProductID" ng-disabled="disable" ng-change="onProductChange(SubFormData.ProductID)"> 
										<option value="{{Product.ID}}" ng-repeat="Product in ProductList">{{Product.ProductName}}</option>
									</select>
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-2">
							<div class="form-group">
								<label class="fld-required">Variant</label>
								<div class="input-group">
									<select id="variant" name="Variant" class="form-control select2" 
									ng-model="SubFormData.VariantID" ng-disabled="disable" ng-change="onVariantChange(SubFormData.ProductID, SubFormData.VariantID)"> 
										<option value="{{Variant.VariantID}}" ng-repeat="Variant in VariantList">{{Variant.VariantName}}</option>
									</select>
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-2">
							<div class="form-group">
								<label class="fld-required">Quantity</label>
								<div class="input-group">
									<input type="text" class="form-control" required ng-model="SubFormData.Qty" ng-disabled="disable">
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-2">
							<div class="form-group">
								<label>Purchase Cost / Linen</label>
								<div class="input-group">
									<label>AED {{SubFormData.CostOfLinen}}</label>
								</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-2">
							<div class="form-group">
								<label>&nbsp;</label>
								<div align="right" class="input-group">
									<button type="button" class="btn blue fa fa-plus" ng-click="addItem()" ng-disabled="disable"> Add Item</button>
								</div>								
							</div>	
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="portlet light mb-3">
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="price-calculator-table" ng-if="FormData.QuoteTypeID != 3 && FormData.QuoteTypeID != 1">
						<thead>
							<tr>
								<th> Item </th>
								<th width="50px"> Qty </th>
								<th width="84px"> Cost of Linen </th>
								<!-- <th width="70px"> Qty to be Purchased </th> -->
								<th width="90px"> Purchase Cost </th>
								<th> Linen Cost / use </th>
								<th> Tech Cost / Use </th>
								<th> Delivery Cost/ Use </th>
								<th> Warehouse Cost </th>
								<th width="80px"> Laundry Cost </th>
								<th width="80px"> Total Cost </th>
								<th> Price to Customer </th>
								<th> Billable Qty </th>
								<th width="90px"> Est. billing / day </th>
								<th> Breakeven Days </th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="Item in FormData.QuoteItems"> {{Item}}
								<td type="text" contenteditable='false' id="ProductVariant" ng-model="QuoteItems.ProductVariant">{{Item.ProductName}} - {{Item.VariantName}}</td>
								<td type="text" contenteditable='false' id="Qty" ng-model="QuoteItems.Qty">{{Item.Qty}}</td>
								<td type="text" contenteditable='false' id="CostOfLinen" ng-model="QuoteItems.CostOfLinen">{{Item.CostOfLinen | currency : "AED " }}</td>
								<!-- <td>{{Item.TotalQuantity}}</td> -->
								<td type="text" contenteditable='false' id="PurchaseCost" ng-model="QuoteItems.PurchaseCost">{{Item.PurchaseCost | currency : "AED " : 0}}</td>
								<td type="text" contenteditable='false' id="LinenCostPerUse" ng-model="QuoteItems.LinenCostPerUse">{{Item.LinenCostPerUse | currency : "AED " : 2}}</td>								
								<td type="text" contenteditable='false' id="TechCostPerUse" ng-model="QuoteItems.TechCostPerUse">{{Item.TechCostPerUse | currency : "AED " : 2}}</td>
								<td type="text" contenteditable='false' id="DeliveryCostPerUse" ng-model="QuoteItems.DeliveryCostPerUse">{{Item.DeliveryCostPerUse | currency : "AED " : 2}}</td>
								<td type="text" contenteditable='false' id="WarehouseCost" ng-model="QuoteItems.WarehouseCost">{{Item.WarehouseCost | currency : "AED " : 2}}</td>
								<td type="text" contenteditable='false' id="LaundryCost" ng-model="QuoteItems.LaundryCost">{{Item.LaundryCost | currency : "AED " : 2}}</td>
								<td type="text" contenteditable='false' id="TotalCost" ng-model="QuoteItems.TotalCost">{{Item.TotalCost | currency : "AED " : 2}}</td>
								<td type="text" contenteditable='false' id="PriceToCustomer" ng-model="QuoteItems.PriceToCustomer">{{Item.PriceToCustomer | currency : "AED " : 2}}</td>
								<td type="text" contenteditable='false' id="BillableQty" ng-model="QuoteItems.BillableQty">{{Item.BillableQty}}</td>
								<td type="text" contenteditable='false' id="EstBillingPerDay" ng-model="QuoteItems.EstBillingPerDay">{{Item.EstBillingPerDay | currency : "AED " : 2}}</td>
								<td type="text" contenteditable='false' id="BreakevenDays" ng-model="QuoteItems.BreakevenDays">{{Item.BreakevenDays}}</td>
								<td><i title="Remove" ng-click="removeItem($index)" class="delete-icon fa fa-trash font-red-thunderbird"></i></td>
							</tr>
						</tbody>
						<tfoot>
							<td colspan="2">Total</td>
							<td></td>
							<!-- <td>{{FormData.TotalQtyPurchased}}</td> -->
							<td>{{FormData.TotalPurchaseCost | currency : "AED " : 0}}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tfoot>
					</table>
				</div>	
			</div>
		</div>

		<div class="portlet light mb-3">
		  <div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="price-calculator-table"  ng-if="FormData.QuoteTypeID == 3 ">
						<thead>
							<tr>
							    <th> Item </th>
								<th width="50px"> Qty </th>
								<th width="84px"> Cost of Linen </th>
								<th width="90px"> Purchase Cost </th>
								<th> Linen Cost / use </th>
								<th> Tech Cost / Use </th>
								<th> Delivery Cost/ Use </th>
								<th> Warehouse Cost </th>
								<th width="80px"> Laundry Cost </th>
								<th width="80px"> Total Cost </th>
								<th> Price to Customer </th>
								<th> Billable Qty </th>
								<th width="90px"> Est. billing / day </th>
								<th> Breakeven Days </th>
								<th></th>
						    </tr>
						</thead>
						<tbody>
							<tr ng-repeat="Item in FormData.QuoteItems">
								<td>{{Item.ProductName}} - {{Item.VariantName}}</td>
								<td>{{Item.Qty}}</td>
								<td>{{Item.CostOfLinen | currency : "AED " }}</td>
								<!-- <td>{{Item.TotalQuantity}}</td> -->
								<td>{{Item.PurchaseCost | currency : "AED " : 0}}</td>
								<td>NA</td>								
								<td>NA</td>
								<td>NA</td>
								<td>NA</td>
								<td>NA</td>
								<td>NA</td>
								<td>{{Item.PriceToCustomer | currency : "AED " : 2}}</td>
								<td>NA</td>
								<td>NA</td>
								<td>NA</td>
								<td><i title="Remove" ng-click="removeItem($index)" class="delete-icon fa fa-trash font-red-thunderbird"></i></td>
							</tr>
						</tbody>
				  </table>                    
					<table class="table table-bordered" id="price-calculator-table"  ng-if="FormData.QuoteTypeID == 1">
						<thead>
							<tr>
								<th> Item </th>
								<th width="50px"> Qty </th>
								<th width="84px"> Cost of Linen </th>
								<th width="90px"> Purchase Cost </th>
								<th> Linen Cost / use </th>
								<th> Tech Cost / Use </th>
								<th> Delivery Cost/ Use </th>
								<th> Warehouse Cost </th>
								<th width="80px"> Laundry Cost </th>
								<th width="80px"> Total Cost </th>
								<th> Price to Customer </th>
								<th> Billable Qty </th>
								<th width="90px"> Est. billing / day </th>
								<th> Breakeven Days </th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="Item in FormData.QuoteItems">
								<td>{{Item.ProductName}} - {{Item.VariantName}}</td>
								<td>{{Item.Qty}}</td>
								<td>NA</td>
								<!-- <td>{{Item.TotalQuantity}}</td> -->
								<td>NA</td>
								<td>NA</td>								
								<td>NA</td>
								<td>NA</td>
								<td>NA</td>
								<td>{{Item.LaundryCost | currency : "AED " : 2}}</td>
								<td>NA</td>
								<td>{{Item.PriceToCustomer | currency : "AED " : 2}}</td>
								<td>NA</td>
								<td>NA</td>
								<td>NA</td>
								<td><i title="Remove" ng-click="removeItem($index)" class="delete-icon fa fa-trash font-red-thunderbird"></i></td>
							</tr>
						</tbody>
					</table> 
				</div>
				<div class="actions">
					<div class="form-actions" style="text-align: right;">
						<button type="button" ng-click="FormSubmit(FrmPriceCalculator.$valid)" ng-show="ShowGenerateQuote" class="btn blue">Generate Quote</button>
						<button type="button" ng-click="ConvertCustomer()" ng-disabled="visible" class="btn blue" ng-show="ShowConvertCustBtn">Convert as customer</button>
						<button type="button" ng-click="cancel()" class="btn blue fa fa-close"> Cancel</button>						
					</div>
				</div>	
			</div>
		</div> 
	</div>
</form>