<div class="ui-page compact">
    <div class="portlet light mb-3">
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-control-bar">
                        <h3>
                            <button ng-click="BackIndexPage()" class="btn blue fa fa-reply-all"> Back</button>
                            <strong>Delivery Management</strong></h3>
                            <div class="action-group">
                                <button type="button" ng-click="openAddPage()" class="btn blue fa fa-user-plus"> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="portlet light">
        <div class="portlet-body">
            <table id="delivery-manage-data-table" class="table table-striped table-bordered table-hover dt-responsive" width="100%">
                <thead>
                    <tr>
                        <td class="check-box-column">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline" for="check-all-delivery">
                                <input type="checkbox" class="checkboxes check-all" value="1" id="check-all-delivery"/>
                            <span></span>
                        </label>
                        </td>
                        <td>User</td>
                        <td>Customer Name</td>
                        <td>Customer Location</td>
                        <td>Laundry Assigned</td>
                        <td>Schedule Date Time</td>
                        <td>Schedule Delivery Date Time</td>
                        <td>Valid Until</td>
                        <td class="action-column" >Edit</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>  
</div>