<div class="portlet-body">
	<div class="form-body">
		<div class="row">
			<form name="FormContactInfo" id="form-contact-info" role="form" novalidate>
				<div class="form-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group" ng-class="{'has-error' : FormContactInfo.FirstName.$invalid && FormContactInfo.FirstName.$touched}">
								<label class="fld-required">First Name</label>
								<div class="input-group">
									<input type="text" ng-disabled="disable" ng-model="ContactInfo.FirstName" name="FirstName" onkeydown="return /^[a-zA-Z\. ]*$/i.test(event.key)"class="form-control" required /> 
									<p ng-show="FormContactInfo.FirstName.$invalid && FormContactInfo.FirstName.$touched" class="help-block">This field is required.</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Last Name</label>
								<div class="input-group">
									<input type="text" ng-disabled="disable" ng-model="ContactInfo.LastName" name="LastName" onkeydown="return /^[a-zA-Z\. ]*$/i.test(event.key)"class="form-control" /> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group" ng-class="{ 'has-error' : FormContactInfo.EmailID.$dirty && FormContactInfo.EmailID.$error.pattern}">
								<label class="fld-required">Email</label>
								<div class="input-group">
									<input type="text" class="form-control" name="EmailID" ng-disabled="disable" ng-model="ContactInfo.EmailID" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
									<p ng-show="FormContactInfo.EmailID.$dirty && FormContactInfo.EmailID.$error.pattern" 
									class="help-block">Please Enter Valid Email</p> 
								</div>
							</div>
						</div>	
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label class="fld-required">Location</label>
								<div class="input-group">
									<select id="contact-location" name="LocationID" class="form-control select2" ng-disabled="disable" ng-model="ContactInfo.LocationID" ng-change="onLocationChange(ContactInfo.LocationID)" required> 
										<option value="{{CL.ID}}" ng-repeat="CL in LocationList">{{CL.LocationName}}</option>
									</select>
								</div>
							</div>
						</div> 					
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group" ng-if="!HideInviteContact">
								<label>{{LCSendInviteLabel}}</label>
								<div class="mt-radio-inline">
									<label class="mt-radio">
										<input type="radio" name="SendInvite" id="LCSendInviteY" ng-disabled="disable" ng-model="ContactInfo.SendInvite" value="Y"> Yes
										<span></span>
									</label>
									<label class="mt-radio">
										<input type="radio" name="SendInvite" id="LCSendInviteN" ng-disabled="disable" ng-model="ContactInfo.SendInvite" value="N"> No
										<span></span>
									</label>
								</div>
							</div>
						</div> 
						<div class="col-xs-12 col-md-8">
							<div class="form-group">
								<label>&nbsp;</label>
								<div class="action-group">
									<button type="button" ng-click="saveLaundryContact(FormContactInfo)" class="btn blue" 
									ng-disabled="FormContactInfo.$invalid"><i class="fa fa-save"> Save</i></button>
									<button type="button" ng-click="clearLaundryContact(FormContactInfo)" class="btn green">
									<i class="fa fa-close"></i> Clear</button>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
							<div ng-if="LIShowErrorMsg" class="alert alert-danger">
								<button class="close" data-close="alert"></button>
								<span class="error-txt">{{LIErrorMsg}}</span>
							</div>
						</div>
					</div>
					<div class="row" ng-show="formhide">
						<div class="col-xs-12 caption-right">
							<div class="form-group">
								<label id="spacing"></label>
								<label id="location-name" name="LocationName"></label>
								<label id="coma1"></label>
								<label>&nbsp;</label>
								<label id="location-address" name="LocationAddress"></label>
								<label id="coma2"></label>
								<label>&nbsp;</label>
								<label id="location-city" name="LocationCity"></label>
								<label id="coma3"></label>
								<label>&nbsp;</label>
								<label id="location-state" name="LocationState"></label>
								<label id="coma4"></label>
								<label>&nbsp;</label>
								<label id="location-country" name="LocationCountry"></label>
								<label id="coma5"></label>
								<label>&nbsp;</label>
								<label id="location-phone" name="LocationPhone"></label>
								<label id="coma6"></label>
								<label>&nbsp;</label>
								<label id="location-zip" name="LocationZipcode"></label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="portlet-body">
    <div class="form-body">
        <div class="portlet light form-view mb-3" >
            <div class="portlet-title">
                <div class="caption">
                    <h3 class="UserName">
                        Contact Info
                    </h3>
                </div>					
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="laundry-contact-data-table" class="table table-striped table-bordered table-hover dt-responsive" width="100%">
                        <thead>
                            <tr>
                                <td class="check-box-column">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline" for="check-all-laundry-contact">
                                        <input type="checkbox" class="checkboxes check-all" value="1" ng-model="selectAll" id="check-all-laundry-contact"/>
                                        <span></span>
                                    </label>
                                </td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Location</td>
                                <td class="action-column">Edit</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="laundry-contact-info"  data-width="450">  
    <div class="modal-header" style="background-color: #299d9d;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
        <h3><span class="modal-title custom-font-color">RNT - Laundry Vendor Management</span></h3>
    </div>
    <div class="modal-header">
        <p><h3>Cantact Info - Saved Successfully</h3></p>
    </div>
</div>