<div class="portlet-body">
    <div class="form-body">
        <div class="row">
            <form name="FormBillingInfo" id="linen-billing-form" role="form" novalidate> 
                <div class="form-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required">First Name</label>
                                <div class="input-group" ng-class="{'has-error' : FormBillingInfo.FirstName.$invalid && FormBillingInfo.FirstName.$touched}">
                                    <input type="text" ng-disabled="disable" ng-model="BillingInfo.FirstName" name="FirstName"
                                    onkeydown="return /^[a-zA-Z\. ]*$/i.test(event.key)" maxlength="15" class="form-control" required /> 
                                    <p ng-show="FormBillingInfo.FirstName.$invalid && FormBillingInfo.FirstName.$touched" class="help-block">This field is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label>Last Name</label>
                                    <div class="input-group">
                                        <input type="text" ng-disabled="disable" ng-model="BillingInfo.LastName" name="LastName" 
                                        onkeydown="return /^[a-zA-Z\. ]*$/i.test(event.key)" maxlength="15" class="form-control" /> 
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label class="fld-required">Phone #</label>
                                <div class="input-group" ng-class="{'has-error' : FormBillingInfo.Phone.$invalid && FormBillingInfo.Phone.$touched}">
                                    <input type="text" ng-paste="paste($event)" ng-disabled="disable" ng-model="BillingInfo.Phone" name="Phone" class="form-control" maxlength="10" ng-keypress="filterValue($event)" required/> 
                                    <p ng-show="FormBillingInfo.Phone.$invalid && FormBillingInfo.Phone.$touched" class="help-block">This field is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group" ng-class="{ 'has-error' : FormBillingInfo.EmailID.$dirty && FormBillingInfo.EmailID.$error.pattern}">
                                <label class="fld-required">Email</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="EmailID" ng-disabled="disable" ng-model="BillingInfo.EmailID" 
                                    ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                    <p ng-show="FormBillingInfo.EmailID.$dirty && FormBillingInfo.EmailID.$error.pattern" 
                                    class="help-block">Please Enter Valid Email</p> 
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                                <label>Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-disabled="disable" ng-model="BillingInfo.Address" name="Address">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                            <label>City</label>
                                <div class="input-group">
                                    <select id="bi-city" name="CityID" class="form-control select2" ng-disabled="disable" ng-model="BillingInfo.CityID" ng-change="onCityChange(C.BICity)">
                                        <option value="{{C.ID}}" ng-repeat="C in BICityList">{{C.CityName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                            <label>State</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-disabled="disable" ng-model="BillingInfo.State" name="State" class="form-control"> 
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                            <label>Country</label>
                                <div class="input-group">
                                    <select id="bi-country" name="CountryID" class="form-control select2" ng-disabled="disable" ng-model="BillingInfo.CountryID" ng-change="onCountryChange(Ct.Country)"> 
                                        <option value="{{Ct.ID}}" ng-repeat="Ct in BICountryList">{{Ct.CountryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="form-group">
                            <label>Zip/ Pin/ PO Box</label>
                                    <div class="input-group">
                                    <input type="text" name="Zip" class="form-control" ng-paste="paste($event)" ng-disabled="disable" ng-model="BillingInfo.Zip" ng-keypress="filterValue($event)"> 
                                    <p ng-show="FormBillingInfo.Zip.$invalid && FormBillingInfo.Zip.$touched" class="help-block"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group" ng-if="!HideInvite">
                                <label>{{BISendInviteLabel}}</label>
                                <div class="mt-radio-inline">
                                    <label class="mt-radio">
                                    <input type="radio" name="SendInvite" id="BCSendInviteY" value="Y" ng-disabled="disable" ng-model="BillingInfo.SendInvite"> Yes
                                    <span></span>
                                    </label>
                                    <label class="mt-radio">
                                    <input type="radio" name="SendInvite" id="BCSendInviteN" value="N" ng-disabled="disable" ng-model="BillingInfo.SendInvite"> No
                                    <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>  
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="row mt-10">
                                    <div class="col-xs-12">
                                        <div ng-if="BIShowErrorMsg" class="alert alert-danger">
                                                <button class="close" data-close="alert"></button>
                                            <span class="error-txt">{{BIErrorMsg}}</span>
                                        </div>
                                    </div>
                                    <label>&nbsp;</label>
                                    <div class="action-group">
                                        <button type="button" ng-click="saveBillingDetail(FormBillingInfo)" class="btn blue fa fa-save" ng-disabled="FormBillingInfo.$invalid"> Save</button>
                                        <button type="button" ng-click="clearBillingDetail(FormBillingInfo)" class="btn green fa fa-close"> Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>                     
                </div>                     
            </form>
        </div>
    </div>
</div>
<div class="portlet-body">
	<div class="form-body">
		<div class="portlet light form-view mb-3" >
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Billing Info
					</h3>
				</div>					
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table id="billing-details-data-table" class="table table-striped table-bordered table-hover dt-responsive" width="100%">
						<thead>
							<tr>
								<td class="check-box-column">
									<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline" for="check-all-billing-details">
										<input type="checkbox" class="checkboxes check-all" value="1" id="check-all-billing-details"/>
										<span></span>
									</label>
								</td>
								<td>Name</td>
								<td>Email</td>
								<td>Phone</td>
								<td class="action-column">Edit</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade in" id="billingInfo" data-width="450">  
    <div class="modal-header" style="background-color: #299d9d;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
        <h3><span class="modal-title custom-font-color">RNT - Linen Supplier Management</span></h3>
    </div>
    <div class="modal-header">
        <p><h3>Billing Info - Saved Successfully</h3></p>
        <button class="btn green" style="float: right;" data-dismiss="modal" aria-hidden="false"> Ok</button>
    </div>
</div>