<div class="ui-page price-calculator-page">	
	<form name="FrmPriceCalculator" role="form" novalidate>
		<div class="portlet light mb-3">
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-12">
						<h3><strong>Collection Report</strong></h3>
					</div>
				</div>
			</div>
		</div>
		<div class="portlet light mb-3">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold">CUSTOMER DETAILS</span>
				</div>
				<!-- <div class="form-actions" style="float: right;">
					<button type="button" ng-click="FormSubmit(FrmPriceCalculator.$valid)" class="btn blue">Generate Quote</button>
				</div> -->
			</div>
			<div class="portlet-body">
				<div class="form-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Customer Name *</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.CustomerName" required> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Customer Type *</label>
								<div class="input-group">
									<select id="customer-type" name="CustomerTypeID" class="form-control select2" required
									ng-model="FormData.CustomerType" ng-change="onCustomerTypeChange(Ct.CustomerType)"> 
										<option value="{{Ct.ID}}" ng-repeat="Ct in CustomerTypeList">{{Ct.CustomerType}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Quote Type *</label>
								<div class="input-group">
									<select id="quote-type" name="QuoteTypeID" class="form-control select2" required
									ng-model="FormData.QuoteType" ng-change="QuoteTypeChange(Qt.QuoteType)"> 
										<option value="{{Qt.ID}}" ng-repeat="Qt in QuoteTypeList">{{Qt.QuoteType}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Sales Person Name *</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.SPName" required>
									</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Head Office Country *</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.HOCountry" required>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>P.O. Box *</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.POBox" required> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Head Office Phone No *</label>
								<div class="input-group">
									<input type="text" class="form-control" id="HOPhoneNo" ng-model="FormData.HOPhone" required> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Head Office Location *</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.HOLocation" required> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Head Office City *</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.HOCity" required> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Billing Contact Name</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.BCName"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Billing Contact Phone No</label>
								<div class="input-group">
									<input type="text" class="form-control" id="BOPhoneNo" ng-model="FormData.BCPhone"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group" ng-class="{ 'has-error' : FrmPriceCalculator.BillingEmail.$dirty && FrmPriceCalculator.BillingEmail.$error.pattern}">
								<label>Billing Contact Email</label>
								<div class="input-group">
									<input type="text" class="form-control" name="BillingEmail" ng-model="FormData.BCEmail" 
									ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
									<p ng-show="FrmPriceCalculator.BillingEmail.$dirty && FrmPriceCalculator.BillingEmail.$error.pattern" 
									class="help-block">Please Enter Valid Email</p> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Alternate Contact Name</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.ACName"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Alternate Contact Phone No</label>
								<div class="input-group">
									<input type="text" class="form-control" id="ACPhoneNo" ng-model="FormData.ACPhone"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group" ng-class="{ 'has-error' : FrmPriceCalculator.AlternateEmail.$dirty && FrmPriceCalculator.AlternateEmail.$error.pattern}">
								<label>Alternate Contact Email</label>
								<div class="input-group">
									<input type="text" class="form-control" name="AlternateEmail" ng-model="FormData.ACEmail"
									ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
									<p ng-show="FrmPriceCalculator.AlternateEmail.$dirty && FrmPriceCalculator.AlternateEmail.$error.pattern" 
									class="help-block">Please Enter Valid Email</p> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold">If Cx type selected above is Non-Hotel, please answer the following 2 questions
					</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="form-body">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Footfall During Weekdays</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.FDWeekDays"> 
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3">
							<div class="form-group">
								<label>Footfall During Weekends</label>
								<div class="input-group">
									<input type="text" class="form-control" ng-model="FormData.FDWeekEnds"> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<div class="row custom-row">
			<div class="col-xs-12 col-md-6 pr-1p5">
				<div class="portlet light mb-3">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold">Please fill the following
							</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="form-body">
							<div class="row">
								<div class="col-xs-6 col-md-3">
									<div class="form-group">
										<label>No of Rooms *</label>
										<div class="input-group">
											<input ng-model="FormData.RoomCount" ng-change="OnRoomCountChange()" type="text" class="form-control" required> 
										</div>
									</div>
								</div>
								
								<div class="col-xs-5 col-md-3">
									<div class="form-group">
										<label>PAR Level Expected *</label>
										<div class="input-group">
											<input ng-model="FormData.PARLevelExpected" ng-change="OnPARLevelChange()" type="text" class="form-control" required> 
										</div>
									</div>
								</div>
								<!-- <div class="col-xs-12 col-sm-6 col-md-4">
									<div class="form-group">
										<label>Occupancy Considering *</label>
										<div class="input-group">
											<input ng-model="FormData.OccupancyConsidering" ng-change="OnOccupancyChange()" type="text" class="form-control" required> 
										</div>
									</div>
								</div> -->

								<div class="col-xs-7 col-md-4">
									<div class="form-group">
										<label>Occupancy Considering(%) *</label>
										<div class="input-group">
											<select id="occupancy-considering" placehoder="-- Select --" name="OccupancyConsidering" class="form-control select2" 
											ng-model="FormData.OccupancyConsidering" ng-change="OnOccupancyChange()"> 
												<option value="{{Occupancy}}" ng-repeat="Occupancy in OccupancyList">{{Occupancy}}%</option>
											</select>
											<!-- <span class="has-error">This field is required</span> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 pl-1p5">
				<div class="portlet light mb-3">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold">BILLING CYCLE AND PAYMENT TERMS</span>
						</div>				
					</div>
					<div class="portlet-body">
						<div class="form-body">
							<div class="row">
								<!-- <div class="col-sm-6 col-md-4">
									<div class="form-group">
										<label>Margin *</label>
										<div class="input-group">
											<input ng-model="FormData.PTMargin" type="text" class="form-control" required> 
										</div>
									</div>
								</div> -->
								<div class="col-xs-6 col-sm-4 col-md-3">
									<div class="form-group">
										<label>Margin(%) *</label>
										<div class="input-group">
											<select id="margin" name="PTMargin" placehoder="-- Select --" class="col-xs-4 form-control select2" 
											ng-model="FormData.PTMargin"> 
												<option value="{{Margin}}" ng-repeat="Margin in MarginList">{{Margin}}%</option>
											</select>
										</div>
									</div>
								</div>
								<!-- <div class="col-sm-6 col-md-4">
									<div class="form-group">
										<label>Quote Validity *</label>
										<div class="input-group">
											<input ng-model="FormData.QuoteValidity" type="text" class="form-control" required> 
										</div>
									</div>
								</div> -->
								<div class="col-xs-6 col-md-4">
									<div class="form-group">
										<label>Quote Validity(days) *</label>
										<div class="input-group">
											<select id="quote-validity" name="QuoteValidity" placehoder="-- Select --" class="form-control select2" 
											ng-model="FormData.QuoteValidity"> 
												<option value="{{Validity}}" ng-repeat="Validity in ValidityList">{{Validity}} days</option>
											</select>
											<!-- <span class="has-error">This field is required</span> -->
										</div>
									</div>
								</div>						
							</div>					
						</div>
					</div>
				</div>
			</div>		
		</div>					
		
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject bold">{{CustomerType}}</span>
				</div>
				<div class="actions">
					<div class="form-actions" style="float: right;">
						<button type="button" ng-click="FormSubmit(FrmPriceCalculator.$valid)" class="btn blue">Generate Quote</button>
					</div>
				</div>
			</div>
			<div class="portlet-body ">
				<div class="form-body">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-2">
							<div class="form-group">
								<label>Category *</label>
								<div class="input-group">
									<select id="category" name="Category" class="form-control select2" 
									ng-model="SubFormData.CategoryID" ng-change="onCategoryChange(SubFormData.CategoryID)"> 
										<option value="{{Category.ID}}" ng-repeat="Category in CategoryList">{{Category.CategoryName}}</option>
									</select>
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-2">
							<div class="form-group">
								<label>Product *</label>
								<div class="input-group">
									<select id="product" name="Product" class="form-control select2" 
									ng-model="SubFormData.ProductID" ng-change="onProductChange(SubFormData.ProductID)"> 
										<option value="{{Product.ID}}" ng-repeat="Product in ProductList">{{Product.ProductName}}</option>
									</select>
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-2">
							<div class="form-group">
								<label>Variant *</label>
								<div class="input-group">
									<select id="variant" name="Variant" class="form-control select2" 
									ng-model="SubFormData.VariantID" ng-change="onVariantChange(SubFormData.ProductID, SubFormData.VariantID)"> 
										<option value="{{Variant.VariantID}}" ng-repeat="Variant in VariantList">{{Variant.VariantName}}</option>
									</select>
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-sm-2">
							<div class="form-group">
								<label>Quantity *</label>
								<div class="input-group">
									<input type="text" class="form-control" required ng-model="SubFormData.QuantityRequired">
									<!-- <span class="has-error">This field is required</span> -->
								</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-2">
							<div class="form-group">
								<label>Purchase Cost</label>
								<div class="input-group">
									<label>AED {{SubFormData.PurchaseCost}}</label>
								</div>
							</div>
						</div>
						<div class="col-xs-3 col-sm-2">
							<div class="form-group">
								<label>&nbsp;</label>
								<div class="input-group">
									<button type="button" class="btn blue" ng-click="AddItem()">Add Item</button>
								</div>								
							</div>	
						</div>
					</div>					
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th> Items Required </th>
								<th> Cost of Linen </th>
								<th> Total Qty to be purchased </th>
								<th> RNT Purchase Cost </th>
								<th> Linen Cost / Use during recovery </th>
								<th> Tech Cost / Use </th>
								<th> Delivery Cost/ Use </th>
								<th> Warehouse Cost </th>
								<th> Laundry Cost </th>
								<th> Total Cost </th>
								<th> Price offered to Customer </th>
								<th> Billable Quantity </th>
								<th> Est. billing / day </th>
								<th> Brakeven Days </th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="Item in FormData.QuoteItems">
								<td>{{Item.Variant}}</td>
								<td>{{Item.PurchaseCost}}</td>
								<td>{{Item.QuantityRequired}}</td>
								<td>{{Item.TotalQuantity}}</td>
								<td>{{Item.QtyToBeBilled}}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
						<tfoot>
							<td colspan="2">Total</td>
							<td>{{FormData.TotalQtyPurchased}}</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>{{FormData.TotalQtyToBeBilled}}</td>
							<td></td>
							<td></td>
						</tfoot>
					</table>
				</div>				
			</div>
		</div>
	</form>
</div>