<form name="FormBasicDetail" class="horizontal-form" method="post">
    <div class="portlet-body">
	   <div class="form-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.AccountManager.$invalid && FormBasicDetail.AccountManager.$touched}">
                        <label class="fld-required">Account Manager</label>
                        <div class="input-group">
                            <select id="account-manager" name="AccountManager" ng-disabled="disable" ng-model="BasicDetail.AccountManager" ng-change="displayEmail(BasicDetail.AccountManager);" class="form-control select2" required> 
                                <option value="{{Am.ID}}" ng-repeat="Am in AccountManagerList">{{Am.FirstName}}</option>
                                <p ng-show="FormBasicDetail.AccountManager.$invalid && FormBasicDetail.AccountManager.$touched" class="help-block">This field is required.</p> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>EmailID</label><br>
                       <label id="display-email" name="EmailID" ng-disabled="disable" ng-model="BasicDetail.EmailID"></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.CustomerTypeID.$invalid && FormBasicDetail.CustomerTypeID.$touched}">
                        <label class="fld-required">Customer Type</label>
                        <div class="input-group">
                            <select id="customer-type" name="CustomerTypeID" ng-disabled="disable" ng-model="BasicDetail.CustomerTypeID" class="form-control select2" required> 
                                <option value="{{Ct.ID}}" ng-repeat="Ct in CustomerTypeList">{{Ct.CustomerType}}</option>
                                <p ng-show="FormBasicDetail.CustomerTypeID.$invalid && FormBasicDetail.CustomerTypeID.$touched" class="help-block">This field is required.</p> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3" ng-if="BasicDetail.CustomerTypeID == 1">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.Rooms.$invalid && FormBasicDetail.Rooms.$touched}">
                        <label class="fld-required"># Of Rooms</label>
                        <div class="input-group">
                            <input type="text" name="Rooms" ng-disabled="disable" ng-model="BasicDetail.Rooms" class="form-control" required /> 
                            <p ng-show="FormBasicDetail.Rooms.$invalid && FormBasicDetail.Rooms.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3" ng-if="BasicDetail.CustomerTypeID == 10">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.Rooms.$invalid && FormBasicDetail.Rooms.$touched}">
                        <label class="fld-required"># Of Beds</label>
                        <div class="input-group">
                            <input type="text" name="Rooms" ng-disabled="disable" ng-model="BasicDetail.Rooms" class="form-control" required /> 
                            <p ng-show="FormBasicDetail.Rooms.$invalid && FormBasicDetail.Rooms.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3" ng-if="BasicDetail.CustomerTypeID == 1">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.Star.$invalid && FormBasicDetail.Star.$touched}">
                        <label class="fld-required">Star</label>
                        <div class="input-group">
                            <select id="star" name="Star" ng-disabled="disable" ng-model="BasicDetail.Star" class="form-control select2" required> 
                                <option value="{{St.ID}}" ng-repeat="St in StarList">{{St.Star}}</option>
                                <p ng-show="FormBasicDetail.Star.$invalid && FormBasicDetail.Star.$touched" class="help-block">This field is required.</p> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3" ng-if="BasicDetail.CustomerTypeID == 1">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.AverageOccupancyRate.$invalid && FormBasicDetail.AverageOccupancyRate.$touched}">
                        <label class="fld-required">Average Occupancy Rate</label>
                        <div class="input-group">
                            <select id="average-occupancy-rate" name="AverageOccupancyRate" ng-disabled="disable" ng-model="BasicDetail.AverageOccupancyRate" class="form-control select2" required> 
                                <option value="{{Aor.ID}}" ng-repeat="Aor in AverageOccupancyRateList">{{Aor.AverageOccupancyRate}}</option>
                                <p ng-show="FormBasicDetail.AverageOccupancyRate.$invalid && FormBasicDetail.AverageOccupancyRate.$touched" class="help-block">This field is required.</p> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3" ng-if="BasicDetail.CustomerTypeID == 10">
                    <div class="form-group">
                        <label>Average Occupancy Rate</label>
                        <div class="input-group">
                            <select id="average-occupancy-rate" name="AverageOccupancyRate" ng-disabled="disable" ng-model="BasicDetail.AverageOccupancyRate" class="form-control select2"> 
                                <option value="{{Aor.ID}}" ng-repeat="Aor in AverageOccupancyRateList">{{Aor.AverageOccupancyRate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.CustomerName.$invalid && FormBasicDetail.CustomerName.$touched}">
                        <label class="fld-required">Customer Name</label>
                        <div class="input-group">
                            <input type="text" name="CustomerName" ng-disabled="disable" ng-model="BasicDetail.CustomerName" onkeydown="return /^[a-zA-Z\. ]*$/i.test(event.key)" class="form-control" required> 
                            <p ng-show="FormBasicDetail.CustomerName.$invalid && FormBasicDetail.CustomerName.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Address</label>
                        <div class="input-group">
                            <input type="text" name="Address" ng-model="BasicDetail.Address" class="form-control" />
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Country</label>
                        <div class="input-group">
                            <select id="country" name="CountryID" class="form-control select2"
                            ng-model="BasicDetail.CountryID" ng-change="onBDCountryChange(Ct.ID)"> 
                                <option value="{{Ct.ID}}" ng-repeat="Ct in CountryList">{{Ct.CountryName}}</option>
                            </select>
                        </div>
                    </div>
                </div>           
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>State</label>
                        <div class="input-group">
                            <input type="text" name="State" ng-model="BasicDetail.State" class="form-control" /> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>City</label>
                        <div class="input-group">
                            <select id="city" name="CityID" class="form-control select2"
                            ng-model="BasicDetail.CityID">
                                <option value="{{C.ID}}" ng-repeat="C in CityList">{{C.CityName}}</option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Zip / Pin / PO Box</label>
                        <div class="input-group">
                            <input type="text" name="Zip" ng-paste="paste($event)" ng-model="BasicDetail.Zip" ng-keypress="filterValue($event)" class="form-control" /> 
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.LandlineNumber.$invalid && FormBasicDetail.LandlineNumber.$touched}">
                        <label class="fld-required">Landline Number</label>
                        <div class="input-group">
                            <input type="text" name="LandlineNumber" ng-paste="paste($event)" ng-model="BasicDetail.LandlineNumber" ng-keypress="filterValue($event)" class="form-control" required> 
                            <p ng-show="FormBasicDetail.LandlineNumber.$invalid && FormBasicDetail.LandlineNumber.$touched" class="help-block">This field is required.</p> 
                        </div>
                    </div>
                </div> -->
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.Currency.$invalid && FormBasicDetail.Currency.$touched}">
                        <label class="fld-required">Currency</label>
                        <div class="input-group">
                            <select id="currency" name="Currency" ng-disabled="disable" ng-model="BasicDetail.Currency" 
                            class="form-control" required>
                                <option value="{{Cu.Code}}" ng-repeat="Cu in CurrencyList">{{Cu.CurrencyName}} ({{Cu.Code}})</option>
                                <p ng-show="FormBasicDetail.Currency.$invalid && FormBasicDetail.Currency.$touched" class="help-block">This field is required.</p> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Number of Locations</label>
                        <div class="input-group">
                            <input type="text" ng-disabled="disable" ng-model="BasicDetail.LocationCount" id="nooflocation" ng-keyup="Calculate()" name="LocationCount"
                             ng-keypress="filterValue($event)" class="form-control"  /> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group" ng-class="{'has-error' : FormBasicDetail.ContractCount.$invalid && FormBasicDetail.ContractCount.$touched || LocationError}">
                        <label class="fld-required">Contract Number of Locations</label>
                        <div class="input-group">
                            <input type="text" id="contractlocation" ng-disabled="disable" ng-model="BasicDetail.ContractCount" ng-keyup="Calculate()" 
                            ng-keypress="filterValue($event)" name="ContractCount" class="form-control" required /> 
                            <p ng-show="(FormBasicDetail.ContractCount.$invalid && FormBasicDetail.ContractCount.$touched)" class="help-block">This field is required.</p> 
                            <p ng-show="LocationError" class="help-block">Contract Number of location must be below Number of locations</p> 
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label>Upload Logo / Image</label>
                        <div class="input-group file-group" id="customer-logo-ctrl" ng-init="initLogoPicker()">
                            <div>
                                <input type="file" class="file-pick img" ng-disabled="disable" name="Logo" accept="image/x-png,image/jpeg"/>
                                <img/>
                            </div>
                            <div>
                                <button class="btn up-btn">Select</button>
                                <button class="btn ch-btn">Change</button>
                                <button class="btn rm-btn" ng-click="removeLogo()">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 action-control-bar">
                    <div class="row mt-10">
                        <div class="col-xs-10">
                            <div ng-if="CDShowErrorMsg" class="alert alert-danger">
                                <button class="close" data-close="alert"></button>
                                <span class="error-txt">{{CDErrorMsg}}</span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="action-group">
                                <button ng-click="saveCustomerDetail(FormBasicDetail.$valid)" class="btn blue fa fa-save" ng-disabled="FormBasicDetail.$invalid"> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  		
</form>
<div class="modal fade in" id="basicDetails"  data-width="450">  
    <div class="modal-header" style="background-color: #299d9d;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="false"></button>
        <h3><span class="modal-title custom-font-color"> RNT - Customer Management</span></h3>
    </div>
    <div class="modal-header">
        <p><h3>Customer Details - Saved Successfully</h3></p>
    </div>
</div>