<form name="ContractInfo" class="horizontal-form" method="post">
	<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Contract Signed Date</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Delivery start Date</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Delivery End Date</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Contract Type</label>
                <div class="input-group">
                     RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Total Contract value</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Monthly Billing Value</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Invoicing Frequency</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Advance</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Payment Terms</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Contract Renewal Reminder 1</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Contract Renewal Reminder 2</label>
                <div class="input-group">
                    RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Contract REnewal Reminder 3</label>
                <div class="input-group">
                     RATIS
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-group">
                <label>Contract Upload Option</label>
                <div class="input-group">
                    <button class="btn blue">View</button>
                </div>
            </div>
        </div>
    </div>
</form>