<!-- CUSTOMER PAGE START HERE -->
<div class="ui-page compact">
		<div class="portlet light mb-3">
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-12">
						<div class="top-control-bar">
							<div style="text-align: left;" class="action-group">
								<h3>
									<button ng-click="backToManagmentPage()" class="btn blue"><i class="fa fa-reply-all"> Back</i></button>
								<strong>Customer Details</strong>
								<div ng-if="CustomerID > 0" class="caption-right">
									<button ng-click="locationInform()" class="btn green" id="tooltips"> Location Info</button>
									<button ng-click="ContactInform()" class="btn green" id="CItooltips">Contact Info</button>
									<button ng-click="BillingInform()" class="btn green" id="BItooltips">Billing Info</button>
									<button ng-click="shippingInform()" class="btn green" id="SItooltips">Shipping Info</button>
									<button ng-click="ContractInform()" class="btn green" id="CTItooltips">Contract Info</button>
									<button ng-click="BillOfMaterial()" class="btn green" id="BOMtooltips">Bill Of Material</button>
									<!-- <button ng-click="LaundryHistory()" class="btn green" id="LHtooltips">Laundry History</button> -->
									<button ng-click="SpecialNoteInfo()" class="btn green" id="SNtooltips">Special Notes</button>
								</div>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="portlet light form-view mb-3">
			<div class="portlet-title">
				<div class="caption">
				   <h3 class="UserName">
						Customer Info - Head Office
					</h3>
				</div> 
			</div>        
			<div class="portlet-body">        	
				<div class="userinfo" ng-include="'views/customer/basic-details-form.html'"></div>
			</div>
			</div>
		<div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="navbar">
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Location Info
						<button id="Location" ng-style="{'background-color':'#299d9d','color':'#fff'}" ng-repeat="x in locationCount" ng-click="editLocation(x)">{{$index +1}} </button>
					</h3>
				</div>            
			</div>        
			<div class="portlet-body">        	
				<div class="userinfo" ng-include="'views/customer/location-details-form.html'"></div>
			</div>
			<!-- <a href="#top-of-page" class="scroll-to-top"  style="display: block;" ng-click="onEdit()"> -->
			<a class="scroll-to-top ng-scope" style="display: block;" ng-click="onEdit()">
				<i class="fa fa-hand-o-up fa-2x"></i>     </a>   
		</div>
		<div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="contactinfo">
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Contact Info
					</h3>
				</div>
			</div>        
			<div class="portlet-body">        	
				<div class="userinfo" ng-include="'views/customer/contact-details-form.html'"></div>
			</div>
		</div>
		<div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="billinginform">
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Billing Information For Location
					</h3>
				</div>	
			</div>
			<div class="portlet-body">				
				<div class="userinfo" ng-include="'views/customer/billing-info-form.html'"></div>
			</div>
		</div>
		<div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="shippinginfo">
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Shipping Information For Location
					</h3>
				</div>
			</div>
			<div class="portlet-body">				
				<div class="userinfo" ng-include="'views/customer/shipping-info-form.html'"></div>
			</div>
		</div>
		<div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="contractinfo">
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Contract Info
					</h3>
				</div>
			</div>
			<div class="portlet-body">				
				<div class="userinfo" ng-include="'views/customer/contract-info-form.html'"></div>
			</div>
		</div>
		<div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="billofmaterial">
			<div class="portlet-title">
				<div class="row">
					<div class="caption">
						<h3 class="UserName">
							Bill Of Material
						</h3>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 caption-right">
						<div class="form-group">
							<div class="input-group">
							<label>Location</label>
							<!-- <div class="input-group">
								<select id="bom-location" name="LocationID" class="form-control select2" ng-model="CustomerDetail.LocationID" ng-change="onLocationChange(CustomerDetail.LocationID)"> 
									<option value="{{CL.ID}}" ng-repeat="CL in bomLocationList">{{CL.LocationName}}</option>
								</select>
							</div> -->
								<input type="text" ng-disabled="disable" name="LocationID" id="b-location" class="form-control" ng-model="LocationID"> 
							</div>
						</div>
					</div>     
					<div class="col-xs-12 col-sm-2 caption-right">
						<div class="form-group">
							<div class="input-group">
								<label>Selected Quote Version</label>
							<select id="selected-quote-version" ng-disabled="disable" name="SelectedQuoteVersion" class="form-control select2" ng-model="CustomerDetail.SelectedQuoteVersion" ng-change="onSelectedQuoteVersion(CustomerDetail.SelectedQuoteVersion); onGetLocation(CustomerDetail.SelectedQuoteVersion)" style='width:200px' size='1'>
								<option value="{{QV.ID}}" ng-repeat="QV in SelectedQuoteVersionList">{{QV.QuoteID}}</option>
								</select>
							</div>
						</div>
					</div> 
					<div class="col-xs-12 col-sm-2 caption-right">
						<div class="form-group">
							<div class="input-group">
								<label>All Quote Version</label>
							<select id="all-quote-version" ng-disabled="disable" name="AllQuoteVersion" class="form-control select2" ng-model="CustomerDetail.AllQuoteVersion" ng-change="onAllQuoteVersion(CustomerDetail.AllQuoteVersion)" style='width:200px' size='1'>
								<option value="{{QV.ID}}" ng-repeat="QV in AllQuoteVersionList">{{QV.QuoteID}}</option>
								</select>
							</div>
						</div>
					</div> 
				</div>
				<div class="row">
					<div class="col-xs-12 caption-right" style="text-align: right;">
						<div class="form-group">
							<label id="bom-spacing"></label>
							<label id="bom-location-name" name="LocationName"></label>
							<label id="bom-coma1"></label>
							<label>&nbsp;</label>
							<label id="bom-location-address" name="LocationAddress"></label>
							<label id="bom-coma2"></label>
							<label>&nbsp;</label>
							<label id="bom-location-city" name="LocationCity"></label>
							<label id="bom-coma3"></label>
							<label>&nbsp;</label>
							<label id="bom-location-state" name="LocationState"></label>
							<label id="bom-coma4"></label>
							<label>&nbsp;</label>
							<label id="bom-location-country" name="LocationCountry"></label>
							<label id="bom-coma5"></label>
							<label>&nbsp;</label>
							<label id="bom-location-phone" name="LocationPhone"></label>
							<label id="bom-coma6"></label>
							<label>&nbsp;</label>
							<label id="bom-location-zip" name="LocationZipcode"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">				
				<div class="userinfo" ng-include="'views/customer/bill-of-material.html'"></div>
			</div>
		</div>
		<!-- <div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="laundryhistory">
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Laundry Info
					</h3>
				</div>	
			</div>
			<div class="portlet-body">				
				<div class="userinfo" ng-include="'views/customer/assign-laundry.html'"></div>
			</div>
		</div> -->
		<div ng-if="CustomerID > 0" class="portlet light form-view mb-3" id="specialnotes">
			<div class="portlet-title">
				<div class="caption">
					<h3 class="UserName">
						Special Notes
					</h3>
				</div>
			</div>
			<div class="portlet-body">				
				<div class="userinfo" ng-include="'views/customer/special-notes.html'"></div>
			</div>
		</div>
	</div>
	<!-- CUSTOMER PAGE END HERE -->