<!DOCTYPE html>

<html lang="en" data-ng-app="RAT">
    <!-- BEGIN HEAD -->
    <head>
        <title data-ng-bind="'Rent A Towel | ' + $state.current.data.pageTitle"></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Rent A Towel" name="description" />
        <meta content="RAT" name="author" />

        <script src="../assets/global/scripts/config.js" type="text/javascript"></script>

        <!-- BEGIN GLOBAL MANDATORY STYLES -->

        <!-- FONT ICONS --> 
        <link href="../assets/global/fonts/roboto/font.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />

        <!-- DATATABLE -->
        <!-- <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/responsive/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" /> -->
        <link href="../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />

        <noscript id="deferred-styles">
            
            <!-- BOOTSTRAP -->
            <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
            <!-- BOOTSTRAP - MODAL -->
            <link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
            <link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
            <link href="../assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

            <!-- BOOTSTRAP - FULL CALENDAR -->
            <link href="../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
            <link href='../assets/global/plugins/fullcalendar/lib/cupertino/jquery-ui.min.css' rel='stylesheet' type="text/css" />
            <!-- BOOTSTRAP - TIMEPICKER -->
            <link href="../assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
            <!-- BOOTSTRAP - EDITABLE FORM -->
            <link href="../assets/global/plugins/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
            <!-- <link href="../assets/global/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" /> -->
            <link href="../assets/global/plugins/select2/css/select2.css" rel="stylesheet" type="text/css" />
            <link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
            <link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

            <link href="../assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

            
            
        </noscript>

        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
        <link id="ng_load_plugins_before" />
        <!-- END DYMANICLY LOADED CSS FILES -->
        <!-- BEGIN THEME STYLES -->
        <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
        <link href="../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
        <!-- PAGE LAYOUTS -->
        <link href="css/layout.css" rel="stylesheet" type="text/css" />
        <!-- THEME -->
        <!-- <link href="css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color" /> -->
        <link href="css/themes/teal-green.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" />
        
        <!--<link href="../assets/global/plugins/bootstrap-editable/inputs-ext/address/address.css" rel="stylesheet" type="text/css" /> -->

        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
    <!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
    <!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
    <!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
    <!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
    <!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
    <!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
    <!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
    <!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

    <body ng-controller="AppCtrl" class="Body page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load page-footer-fixed" ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed}">
        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        
        <!-- END HEADER -->

        <div class="body-container">
            <div data-ng-include="'tpl/sidebar.html'" class="page-sidebar-wrapper LeftMenu"> </div>
            <div class="page-content-wrapper">
                <div id="Header" data-ng-include="'tpl/header.html'" data-ng-controller="HeaderCtrl" class="page-header navbar"> </div>
                <div data-ng-include="'tpl/sidebar.html'" class="page-sidebar-wrapper MobileMenu"> </div>
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <!-- BEGIN PAGE HEAD -->
                        <!-- <div data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head" style="border: 1px solid #F00;"> </div> -->
                        <!-- END PAGE HEAD -->
                        <!-- BEGIN ACTUAL CONTENT -->
                        <div ui-view class="ui-viewer fade-in-up"> 
							Login
						</div>
                        <!-- END ACTUAL CONTENT -->
                    </div>
                </div>
            
            </div>

            <!-- DELETE CONFIRM BOX --> 
            <div id="DelConfirmBox" class="modal fade confirm-box"  tabindex="-1" data-backdrop="static" data-width="350">
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">RNT</h4>
                </div>
                <div class="modal-body">{{DeleteConfirmMsg}}
                    <textarea class="reason" ng-model="Reson" ng-show="DeleteConfirmMsg == 'Reason For Delete the Record'"></textarea> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green"  ng-click="DelConfirmBoxYes()"><i class="fa fa-check"></i> Yes</button>
                    <button type="button" class="btn red" ng-click="DelConfirmBoxNo()"><i class="fa fa-times"></i> No</button>
                </div>
            </div>
        </div>
        

        

        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE JQUERY PLUGINS -->
        <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script> 
    <![endif]-->
        <!-- <script src="../assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script> -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>

        <!-- <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script> -->
        <!-- END CORE JQUERY PLUGINS -->
        
        <!-- BEGIN CORE ANGULARJS PLUGINS -->
        <script src="../assets/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/angularjs/angular-cookies.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/angularjs/angular-idle.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/ckeditor/angular-ckeditor-min.js" type="text/javascript"></script>

        <!-- END CORE ANGULARJS PLUGINS -->

        <!-- BOOTSTRAP -->
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-editable/js/bootstrap-editable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-editable/js/jquery.mockjax.js"></script>
        <script src="../assets/global/plugins/bootstrap-editable/js/form-editable.js"></script>
        <script src="../assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        
            
        <script src="../assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
        <!-- <script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script> -->

        <script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
        <!-- <script src="../assets/global/plugins/bootstrap-select/js/bootstrap-select.js" type="text/javascript"></script> -->
        <script src="../assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/select2/js/select2.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>


        <!-- JQUERY -->
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.validate.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.inputmask.bundle.min.js" type="text/javascript"></script>

        <script src="../assets/global/plugins/fullcalendar/lib/moment.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        
        <!-- DATA TABLE -->
        <script src="../assets/global/plugins/datatables/datatables.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/responsive/dataTables.responsive.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

        
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script> -->

        <!-- CRYPTOGRAPHY -->
        <script src="../assets/global/plugins/cryptojs/aes.js"></script>
        <script src="../assets/global/plugins/cryptojs/aes-json-format.js"></script>

        
        <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
        <script src="js/services.js" type="text/javascript"></script>
        <!-- <script src="js/directives.js" type="text/javascript"></script> -->
        <script src="js/main.js" type="text/javascript"></script>
        <script src="js/router.js" type="text/javascript"></script>
        <script src="js/directives.js" type="text/javascript"></script>
        <!-- END APP LEVEL ANGULARJS SCRIPTS -->
        
        <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
        <script src="../assets/global/scripts/app.js" type="text/javascript"></script>
        <script src="js/layout.js" type="text/javascript"></script>
        <script src="js/quick-sidebar.js" type="text/javascript"></script>
        
        <script src="../assets/global/plugins/chart/chart.js"></script>
        <!-- <script src="../assets/layout/app/scripts/demo.js" type="text/javascript"></script> -->
        <!-- END APP LEVEL JQUERY SCRIPTS -->
        <script>

            $(window).scroll(function(){
                if ($(this).scrollTop() > 70) {
                    $(".Body").addClass("page-header-fixed");
                    $('#Header').addClass('navbar-fixed-top');
                } else {
                    $(".Body").removeClass("page-header-fixed");
                    $('#Header').removeClass('navbar-fixed-top');
                }
            });
            
            var loadDeferredStyles = function() {
                var addStylesNode = document.getElementById("deferred-styles");
                var replacement = document.createElement("div");
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
            };
            var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
            if (raf) raf(function() {
                window.setTimeout(loadDeferredStyles, 0);
                });
            else window.addEventListener('load', loadDeferredStyles);
        </script>
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>