<form name="FormBillOfMaterial" class="horizontal-form" method="post">
    <div class="portlet-body">
        <div class="form-body">
            <div class="row">
				<div class="portlet light mb-3">
					<!-- <div class="portlet-body"> -->

						<!-- <div class="caption-right">
							<label>
								<label>All Quote Version</label>
								<div class="input-group">
									<select id="all-quote-version" name="AllQuoteVersion" class="form-control select2" ng-model="QuoteVersion.AllQuoteVersion" ng-change="onQuoteVersion(QV.QuoteID)" style='width:200px' size='1'>
										<option value="{{QV.ID}}" ng-repeat="QV in AllQuoteVersionList">{{QV.QuoteID}}</option>
									</select>
								</div>
							</label>
							<label>
								<label>Selected Quote Version</label>
								<div class="input-group">
									<select id="selected-quote-version" name="SelectedQuoteVersion" class="form-control select2" ng-model="QuoteVersion.SelectedQuoteVersion" ng-change="onQuoteVersion(QV.QuoteID)" style='width:200px' size='1'>
										<option value="{{QV.ID}}" ng-repeat="QV in SelectedQuoteVersionList">{{QV.QuoteID}}</option>
									</select>
								</div>
							</label>
						</div> -->
						<!-- <div  class="caption-right"> -->
						<!-- <div class="row">
							<div class="col-xs-6 col-md-3" style="text-align: left;">
								<div class="form-group">
									<label>All Quote Version</label>
									<div class="input-group">
										<select id="all-quote-version" name="AllQuoteVersion" class="form-control select2" ng-model="QuoteVersion.AllQuoteVersion" ng-change="onQuoteVersion(QV.QuoteID)">
											<option value="{{QV.ID}}" ng-repeat="QV in AllQuoteVersionList">{{QV.QuoteID}}</option>
										</select>
									</div>
								</div>
							</div>	
							<div class="col-xs-6 col-md-3">
								<div class="form-group">
									<label>Selected Quote Version</label>
									<div class="input-group">
										<select id="selected-quote-version" name="SelectedQuoteVersion" class="form-control select2" ng-model="QuoteVersion.SelectedQuoteVersion" ng-change="onQuoteVersion(QV.QuoteID)" style='width:200px' size='1'>
											<option value="{{QV.ID}}" ng-repeat="QV in SelectedQuoteVersionList">{{QV.QuoteID}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>	 -->
					<!-- </div> -->
				<!-- </div> -->
						
					<div class="portlet-body">

						<div class="table-responsive">
							<table class="table table-bordered" id="price-calculator-table">
								<thead>
									<tr>
										<th> Item </th>
										<th width="50px"> Qty </th>
										<th width="84px"> Cost of Linen </th>
										<!-- <th width="70px"> Qty to be Purchased </th> -->
										<th width="90px"> Purchase Cost </th>
										<th> Linen Cost / use </th>
										<th> Tech Cost / Use </th>
										<th> Delivery Cost/ Use </th>
										<th> Warehouse Cost </th>
										<th width="80px"> Laundry Cost </th>
										<th width="80px"> Total Cost </th>
										<th> Price to Customer </th>
										<th> Billable Qty </th>
										<th width="90px"> Est. billing / day </th>
										<th> Breakeven Days </th>
										<!-- <th></th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="Item in QuoteItems"> {{Item}}
										<td type="text" contenteditable='false' id="ProductVariant" ng-model="QuoteItems.ProductVariant">{{Item.ProductName}} - {{Item.VariantName}}</td>
										<td type="text" contenteditable='false' id="Qty" ng-model="QuoteItems.Qty">{{Item.Qty}}</td>
										<td type="text" contenteditable='false' id="CostOfLinen" ng-model="QuoteItems.CostOfLinen">{{Item.CostOfLinen | currency : "AED " }}</td>
										<!-- <td>{{Item.TotalQuantity}}</td> -->
										<td type="text" contenteditable='false' id="PurchaseCost" ng-model="QuoteItems.PurchaseCost">{{Item.PurchaseCost | currency : "AED " : 0}}</td>
										<td type="text" contenteditable='false' id="LinenCostPerUse" ng-model="QuoteItems.LinenCostPerUse">{{Item.LinenCostPerUse | currency : "AED " : 2}}</td>								
										<td type="text" contenteditable='false' id="TechCostPerUse" ng-model="QuoteItems.TechCostPerUse">{{Item.TechCostPerUse | currency : "AED " : 2}}</td>
										<td type="text" contenteditable='false' id="DeliveryCostPerUse" ng-model="QuoteItems.DeliveryCostPerUse">{{Item.DeliveryCostPerUse | currency : "AED " : 2}}</td>
										<td type="text" contenteditable='false' id="WarehouseCost" ng-model="QuoteItems.WarehouseCost">{{Item.WarehouseCost | currency : "AED " : 2}}</td>
										<td type="text" contenteditable='false' id="LaundryCost" ng-model="QuoteItems.LaundryCost">{{Item.LaundryCost | currency : "AED " : 2}}</td>
										<td type="text" contenteditable='false' id="TotalCost" ng-model="QuoteItems.TotalCost">{{Item.TotalCost | currency : "AED " : 2}}</td>
										<td type="text" contenteditable='false' id="PriceToCustomer" ng-model="QuoteItems.PriceToCustomer">{{Item.PriceToCustomer | currency : "AED " : 2}}</td>
										<td type="text" contenteditable='false' id="BillableQty" ng-model="QuoteItems.BillableQty">{{Item.BillableQty}}</td>
										<td type="text" contenteditable='false' id="EstBillingPerDay" ng-model="QuoteItems.EstBillingPerDay">{{Item.EstBillingPerDay | currency : "AED " : 2}}</td>
										<td type="text" contenteditable='false' id="BreakevenDays" ng-model="QuoteItems.BreakevenDays">{{Item.BreakevenDays}}</td>
										<!-- <td><i title="Remove" ng-click="removeItem($index)" class="delete-icon fa fa-trash font-red-thunderbird"></i></td> -->
									</tr>
								</tbody>
								<!-- <tfoot>
									<td colspan="2">Total</td>
									<td></td>
									<td>{{FormData.TotalPurchaseCost | currency : "AED " : 0}}</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tfoot> -->
							</table>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


<!-- <div class="ui-page compact">
	-- <div class="portlet light mb-3">
    	<div class="portlet-body">
	        <div class="row">
                <div class="col-md-12">
					<div class="top-control-bar">
						<div style="text-align: left;" class="action-group">
							<h3><strong>Rent A Towel</strong></h3>
						</div>
						<div style="text-align: right;" class="action-group">
							<img src="img/profile-img.jpg" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> --
	<div class="portlet light form-view mb-3">
		<div class="portlet-title">
			<div class="row">
				<div class="col-xs-12">
                    <div class="form-group">
						<table style="width: 140%;">
							<tr><td>306 , Third Floor, Zainal Mohebi Plaza</td>
								<td class="alignRight">Date:  {{08/13/2018}}</td></tr>
							<tr><td>Dubai 341182</td>
								<td class="alignRight">QUOTE #   {{SPID/CT/DATE}}</td></tr>
							<tr><td>Phone: [000-000-0000]</td>
								<td class="alignRight">Valid Until:  {{08/20/2018}}</td></tr>
							<tr><td>Fax: [000-000-0000]</td></tr>
							<tr><td>Prepared by:</td></tr>
						</table>
                    </div>
                </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
						<div style="text-align: left;" class="action-group">
							<h4><strong>Customer</strong></h4>
						</div>
					
				</div>
				<div class="col-md-12">
					<label>{{VLCC International}}</label><br>
					<label>{{Al Saqr Business Tower}}</label><br>
					<label>{{Dubai}}</label><br>
					<label>{{971 50 880 2749}}</label>
				</div>
			</div>
			<div class="portlet light mb-3">
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="price-calculator-table"  ng-if="FormData.QuoteType == 3">
							<thead>
								<tr>
									<th> ITEM DESCRIPTION </th>
									<th> Quantity </th>
									<th> Unit Rate/ Use (In AED) </th>
								</tr>
							</thead>
							<tfoot>
								<td>Bath Sheet - 90 cm x 180 cm, 600 GSM, Brown</td>
								<td>1</td>
								<td>1.68</td>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
			<center>If you have any questions about this price quote, please contact</center>
			<center>[Name, Phone #, E-mail]</center><br>
			<center><b>Thank You For Your Business!</b></center>			
        </div>
	</div>
</div> -->