<div class="ui-page">
    <form name="FrmCustomer" role="form" novalidate>
        <div class="portlet light mb-3">
            <div class="portlet-body">
                <div class="row" >
                    <div class="col-md-12">
                        <h3><strong>Customer Management</strong></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light mb-3" id="customer-index">
            <div class="portlet-body">
                <div class="form-body">
                    <div class="row" id="rowinventory">
                        <div class="col-md-4 newcustomer" tooltip="If you already have the customer info in the
                                prospect database in the sales tab, just
                                simply select the prospect to convert them to
                                become a customer in the drop down menu
                                below" tooltip-placement="top" id="prospecty">
                            <h4 id="head"><b>Convert Prospect to Customer</b></h4>
                            <div class="col-xs-12 allignment">
                                <div class="form-group">
                                    <label></label>
                                    <div class="input-group">
                                        <select id="prospect-id" name="QuoteGeneration" class="form-control select2 allignment"
                                        ng-disabled="disable" ng-model="FormData.CustomerName" ng-change="onCustomerChange(FormData.CustomerName)"> 
                                        <option value="{{QG.ID}}" ng-repeat="QG in ProspectList">{{QG.CustomerName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 newcustomer" tooltip="If you have not entered any record in the
                                prospect database in the sales tab about this
                                customer, simply click below." tooltip-placement="top" id="newcust">
                            <h4 id="head"><b>Create a New Customer</b></h4><br>
                            <center><label ng-click="ViewCustomerPage()"><b><a><u id="link">Click here to Add a New Customer</u></a></b> 
                            <i class="fa fa-user-plus fa-2x plus-cust"  id="link" ng-click="ViewCustomerPage()"></i>
                            </label></center>
                        </div>
                        <div class="col-md-4 newcustomer"  tooltip="If you already have the customer info in the
                                customer database, just simply select the
                                customer name in the drop down menu
                                below" tooltip-placement="top" id="exist">
                            <h4 id="head"><b>Add a location to an Existing Customer</b></h4>
                            <div class="col-xs-12">
                                <label><b></b></label>
                                <div class="input-group">
                                    <select id="customer-list" name="CustomerID" class="form-control select2" required
                                    ng-model="BasicDetail.CustomerName" ng-change="CustomerChange(BasicDetail.CustomerName)"> 
                                        <option value="{{C.ID}}" ng-repeat="C in CustomerList">{{C.CustomerName}}</option>
                                    </select>
                                </div>
                            </div>  
                        </div>
                        <div class="col-md-4 newcustomer" tooltip="If you have the information for several
                                customers in an excel sheet click here to
                                download our excel template, fill the data in
                                the template and upload here." tooltip-placement="top">
                            <h4 id="head"><b>Import Customers in Bulk</b></h4><br />
                            <a target="_blank" href="../data-storage/templates/CustomerImport.xls"><u id="link"><b><center>Download Excel Template</center>
                            </b></u></a><br />
                            <a ng-init="importInit()" ng-click="selectFile()"> 
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                    <u id="link"><b><center>Upload Excel</center></b></u></a></p>

                            <div class="input-group file-group hide" id="import-customer" ng-init="initTradeLicense()">
                                <div>
                                    <input type="file" class="file-pick" name="TradeLicense" accept=".xls"/>
                                </div>
                                <input type="text" class="form-control" readonly/>
                                <div class="file-controls">
                                    <i title="Select" class="fa fa-folder-open font-blue-ebonyclay up-btn"></i>
                                    <i title="Change" class="fa fa-edit font-green-jungle ch-btn"></i>
                                    <i title="Remove" class="fa fa-trash font-red-mint rm-btn"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 newcustomer" id="excel">
                            <h4 id="head"><b>View/Edit Customer List</b></h4><br />
                            <div class="col-xs-10 col-sm-5">
                                <div class="form-group" ng-class="{'has-error' : FormBasicDetail.CustomerTypeID.$invalid && FormBasicDetail.CustomerTypeID.$touched}">
                                    <div class="input-group">
                                        <select id="customer-type" name="CustomerTypeID" ng-model="BasicDetail.CustomerTypeID" 
                                        ng-change="onListingChange2();ContractTypeChange(BasicDetail.CustomerTypeID)" class="form-control select2" required> 
                                            <option></option>
                                            <option value="ContractAll2">All</option>
                                            <option value="{{Cs.ID}}" ng-repeat="Cs in CustomerTypeList" >{{Cs.CustomerType}}</option>
                                            <p ng-show="FormBasicDetail.CustomerTypeID.$invalid && FormBasicDetail.CustomerTypeID.$touched" class="help-block">This field is required.</p> 
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-sm-5">
                                <div class="form-group" ng-class="{'has-error' : FormBasicDetail.AccountManager.$invalid && FormBasicDetail.AccountManager.$touched}">
                                    <div class="input-group">
                                        <select id="acc-manager" name="AccountManager" class="form-control select2" required
                                        ng-model="BasicDetail.AccountManager" ng-change="onListingChange1();ContractTypeChange(BasicDetail.AccountManager)"> 
                                            <option></option>
                                            <option value="ContractAll1">All</option>
                                            <option value="{{Ct.ID}}" ng-repeat="Ct in AccountManagerList">{{Ct.FirstName}}</option>
                                        <p ng-show="FormBasicDetail.AccountManager.$invalid && FormBasicDetail.AccountManager.$touched" class="help-block">This field is required.</p>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <a class="icony fa fa-search fa-2x searchbtn" ng-click="Search()" tooltip="Search"></a>
                        </div>
                        <!-- <div class="col-md-4 newcustomer" id="empty"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>