<div class="ui-page">
    <div class="portlet light mb-3">
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                    <h3><strong>Invoicing Frequency</strong></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet light">
        <div class="portlet-body">            
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <table id="invoicing-frequency-data-table" class="table table-striped table-bordered table-hover dt-responsive" width="100%">
                        <thead>
                            <tr>
                                <td class="check-box-column">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline" for="check-all-invoicing-frequency">
                                        <input type="checkbox" class="checkboxes check-all" value="1" id="check-all-invoicing-frequency"/>
                                        <span></span>
                                    </label>
                                </td>
                                <td>Invoicing Frequency</td>
                                <td>Description</td>
                                <td class="action-column">Edit</td>

                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-xs-12 col-md-3">
                    <form name="FormInvoicingFrequency" role="form" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group" ng-class="{'has-error' : FormInvoicingFrequency.InvoicingFrequency.$invalid && FormInvoicingFrequency.InvoicingFrequency.$touched}">
                                        <label class="fld-required">Invoicing Frequency</label>
                                        <div class="input-group">
                                            <input ng-model="FormData.InvoicingFrequency" name="InvoicingFrequency" type="text" class="form-control" required />
                                            <p ng-show="FormInvoicingFrequency.InvoicingFrequency.$invalid && FormInvoicingFrequency.InvoicingFrequency.$touched" class="help-block">This field is required.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <div class="input-group">
                                            <textarea ng-model="FormData.Description" name="Description" type="text" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="action-group">
                                            <button type="button" ng-click="formSubmit(FormInvoicingFrequency.$valid)" class="btn blue" ng-disabled="FormInvoicingFrequency.$invalid">Save</button>
                                            <button type="button" ng-click="formClear()" class="btn green">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ShowErrorMsg" class="alert alert-danger">
                            <button class="close" data-close="alert"></button>
                            <span class="error-txt">{{ErrorMsg}}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</div>