<!-- LAUNDRY PAGE START HERE -->
<div class="ui-page compact">
	<div class="portlet light mb-3">
		<div class="portlet-body">
			<div class="row">
				<div class="col-md-12">
					<div class="top-control-bar">
						<div style="text-align: left;" class="action-group">
							<h3>
								<button type="button" ng-click="backToManagmentPage()" class="btn blue fa fa-reply-all"> Back</button>
								<strong>Laundry Vendor Management</strong>
								<div ng-if="LaundryID > 0" class="caption-right">
									<button ng-click="LaundryLocationInfo()" class="btn green" id="tooltips">Location Info</button>
									<button ng-click="LaundryContactInfo()" class="btn green" id="CItooltips">Contact Info</button>
									<button ng-click="LaundryBillingInfo()" class="btn green" id="BItooltips">Billing Info</button>
									<!-- <button ng-click="FacilityInfo()" class="btn green" id="CostItooltips">Facility Info</button> -->
									<button ng-click="LaundryContractInfo()" class="btn green" id="CTItooltips">Contract Info</button>
									<button ng-click="LaundryCostingInfo()" class="btn green" id="CostItooltips">Costing Info</button>
								</div>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portlet light form-view mb-3">
		<div class="portlet-title">
			<div class="caption">
			   <h3 class="UserName">
					Laundry Info - Head Office
				</h3>
			</div>            
		</div>        
		<div class="portlet-body">        	
			<div class="userinfo" ng-include="'views/laundry/basic-details-form.html'"></div>
		</div>
	</div>
	<div ng-if="LaundryID > 0" class="portlet light form-view mb-3" id="location-info">
		<div class="portlet-title">
			<div class="caption">
				<h3 class="UserName">
					Location Info
					<button id="Location" ng-style="{'background-color':'#299d9d','color':'#fff'}" ng-repeat="x in locationCount" ng-click="editLocation(x)">{{$index +1}} </button>
				</h3>
			</div>            
		</div>        
		<div class="portlet-body">        	
			 <div class="userinfo" ng-include="'views/laundry/location-details.html'"></div> 
		</div>
	</div>
	<div ng-if="LaundryID > 0" class="portlet light form-view mb-3" id="contact-info">
		<div class="portlet-title">
			<div class="caption">
				<h3 class="UserName">
					Contact Info
				</h3>
			</div>            
		</div>        
		<div class="portlet-body">        	
			 <div class="userinfo" ng-include="'views/laundry/contact-details-form.html'"></div> 
		</div>
	</div>
	<div ng-if="LaundryID > 0" class="portlet light form-view mb-3" id="billing-info">
		<div class="portlet-title">
			<div class="caption">
				<h3 class="UserName">
					Billing Information For Location
				</h3>
			</div>			
		</div>
		<div class="portlet-body">				
			<div class="userinfo" ng-include="'views/laundry/billing-info.html'"></div>
		</div>
    </div>
    <!-- <div ng-if="LaundryID > 0" class="portlet light form-view mb-3" id="facility-info">
		<div class="portlet-title">
			<div class="caption">
				<h3 class="UserName">
					Facility Information for Location
				</h3>
			</div>			
		</div>
		<div class="portlet-body">				
			<div class="userinfo" ng-include="'views/laundry/facility-info.html'"></div>
		</div>
	</div> -->
	<div ng-if="LaundryID > 0" class="portlet light form-view mb-3" id="contract-info">
		<div class="portlet-title">
			<div class="caption">
				<h3 class="UserName">
					Contract Info
				</h3>
			</div>			
		</div>
		<div class="portlet-body">				
			<div class="userinfo" ng-include="'views/laundry/contract-info.html'"></div>
		</div>
	</div> 
	<div ng-if="LaundryID > 0" class="portlet light form-view mb-3" id="cost-info">
		<div class="portlet-title">
				<div class="caption">
						<h3 class="UserName">
								Costing Info
						</h3>
				</div>            
		</div>        
		<div class="portlet-body">        	
				<div class="userinfo" ng-include="'views/laundry/costing-info.html'"></div>
		</div>
		<a class="scroll-to-top ng-scope" style="display: block;" ng-click="onTop()">
				<i class="fa fa-hand-o-up fa-2x" tooltip="Go top"></i>    
		</a>   
	</div>
	<!-- <div ng-if="LaundryID > 0" class="portlet light form-view mb-3">
		<div class="portlet-title">
			<div class="caption">
				<h3 class="UserName">
					Laundry Assignment
				</h3>
			</div>			
		</div>
		<div class="portlet-body">				
			<div class="userinfo" ng-include="'views/laundry/assignment.html'"></div>
		</div>
	</div>  -->
</div>
<!-- LAUNDRY PAGE END HERE -->