<form name="FrmTerminateLaundry" class="horizontal-form" method="post">
    <div class="portlet light mb-3">
        <div class="form-body">
            <div class="row">
                <h3>
                    <button ng-click="BackLaundryIndexPage()" class="btn blue fa fa-reply-all"> Back</button>
                    <strong>Terminate Laundry</strong></h3>
            </div>
        </div>
    </div>
    <div class="portlet light mb-3">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold">Terminate Laundry</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="row">
                    <div  class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Select Laundry</label>
                            <div class="input-group">
                                <select id="terminate-laundry" name="LaundryName" class="form-control select2"
                                ng-model="TerminateLaundry.LaundryName" ng-change="onLaundryChange(TerminateLaundry.LaundryName)"> 
                                <option value="{{L.ID}}" ng-repeat="L in LaundryList">{{L.LaundryName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Select Laundry Location</label>
                            <div class="input-group">
                                <select id="terminate-location" name="LaundryLocationID" class="form-control select2"
                                ng-model="TerminateLaundry.LaundryLocationID"ng-change="onLaundryLocationChange(TerminateLaundry.LaundryLocationID)" required> 
                                    <option value="{{CL.ID}}" ng-repeat="CL in AssignLocationList">{{CL.LocationName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>  
                    <div  class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Select Customer</label>
                            <div class="input-group">
                                <select id="terminate-customer" name="Customer" class="form-control select2"
                                ng-model="TerminateLaundry.CustomerName" ng-change="onCustChange(TerminateLaundry.CustomerName)"> 
                                <option value="{{CD.ID}}" ng-repeat="CD in CustomerList">{{CD.CustomerName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Select Customer Location</label>
                            <div class="input-group">
                                <select id="terminate-laundry-location" name="LocationID" class="form-control select2"
                                ng-model="TerminateLaundry.LocationID"ng-change="onCCLocationChange(TerminateLaundry.LocationID)" required> 
                                    <option value="{{CL.ID}}" ng-repeat="CL in LocationList">{{CL.LocationName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>  
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Reason For Terminate</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="TerminateLaundry.ReasonForTerminate" name="ReasonForTerminate">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>Terminate Notice Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="terminate-start-date" ng-model="TerminateLaundry.StartDate" name="StartDate">
                                <span class="input-group-addon" id="terminate-start-date" >
                                    <span class="fa fa-calendar" id="terminatestart-date"></span>
                                </span>
                             </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="form-group">
                            <label>End of Service Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="terminate-end-date" ng-model="TerminateLaundry.EndDate" name="EndDate">
                                <span class="input-group-addon" id="terminate-end-date" >
                                    <span class="fa fa-calendar" id="terminateend-date"></span>
                                </span>
                             </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="action-group">
                                <button type="button" ng-click="saveTerminateLaundry(FrmTerminateLaundry.$valid)" class="btn blue fa fa-tasks"> Assign </button>
                                <button type="button" ng-click="terminateCancel()" class="btn blue fa fa-close"> Cancel </button>                                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</form>
<div class="portlet light mb-3">
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="assign-laundry-data-table">
                    <thead>
                        <tr>
                            <th> S.No </th>
                            <th> Laundry </th>
                            <th> Laundry Location </th>
                            <th> Customer </th>
                            <th> Customer Location </th>
                            <th> Start Date </th>
                            <th> End Date </th>
                            <!-- <th> Action </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Data in AssignData" ng-show="childData"> 
                            <td >{{$index + 1}}</td>
                            <td >{{Data.LaundryName}}</td>
                            <td>{{Data.LaundryLocationID}}</td>
                            <td >{{Data.CustomerName}}</td>
                            <td >{{Data.CustomerLocationID}}</td>
                            <td>{{Data.StartDate}}</td>
                            <td>{{Data.EndDate}}</td>
                            <!-- <td><i title="Remove" ng-click="removeData($index,Data.ID)" class="delete-icon fa fa-trash font-red-thunderbird"></i>
                                <a><i title="Edit" ng-click="editData($index,Data.ID)" class="edit-icon fa fa-edit font-green-jungle"></i></a></td>                                     -->
                        </tr>
                    </tbody>
                </table>
            </div>	
        </div>
    </div>